<div class="dashboard">
  
  <div id="response_time_graph"></div>
  
  <div id="status_code_graph"></div>
  
</div>

<% content_for :scripts do %>
  <script>
    //<![CDATA[
      $(document).ready(function(){
        window.dashboard = new Dashboard({
          "host": "<%= @host %>",
          "namespace": "<%= @namespace %>"
        });
      });
    //]]>
  </script>
<% end %>
