<fieldset>
  <div class="control-group form-actions">
    <h3 style="margin-bottom: 0.25em;">No Version Control System specified for this project.</h3>
    <p><%= message %></p>
    <p><%= link_to "OK. Let me enter that now.", edit_project_path(@project, anchor: "version_control") %></p>
  </div>
</fieldset>
