<div class="form-horizontal callout callout-banner">
  <div class="controls">
    <h3 style="margin-bottom: 0.25em;">No Ticket Tracker specified for this project.</h3>
    <p><%= message %></p>
    <p><%= link_to "OK. Let me enter that now.", edit_project_path(@project, anchor: "ticket_tracker") %></p>
  </div>
</div>
