
.clear { clear: both; }

.breadcrumbs {
  float: left;
}

// Dismiss alert buttons
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.page-actions {
  float: left;
  padding: 3px;
  margin-left: 3em;
}

.callout {
  margin-left: -20px;
  margin-right: -20px;
  padding: 2em 20px;
  background: #efefef;
}

.callout.callout-slim {
  padding-top: 1em;
  padding-bottom: 1em;
}

.callout.callout-banner {
  margin-top: -28px; // right up next to the h1
  border-top: 1px solid rgb(210, 210, 210);
}

.callout.callout-banner.callout-slim {
  margin-bottom: 1em;
}

.callout.callout-footer {
  margin-bottom: -60px;
  margin-top: 2em;
  padding-bottom: 60px;
}

.hidden {
  display: none !important;
}

.controls.row-fluid {
  label { margin: 0; min-height: auto; }
}

.modal > form { margin: 0; }
.wide-modal { width: 720px; margin-left: -360px; }
.modal-header .alert { margin: 10px 0 0 0; }

.icon { font-family: 'FontAwesome'; }

.hidden-text {
  display: block;
  height: 0;
  width: 0;
  visibility: collapse;
}

.changes-nested-editor ol {
  margin: 3px 0;
  padding: 0;

  li {
    list-style-type: none;
    padding: 2px 0;
  }
}

label input[type="checkbox"] { vertical-align: baseline; }

.form-actions .btn-delete { float: right; }

.committer-avatar img {
  border: 2px solid #555;
}

.remember-me {
  line-height: 1em;

  label {
    display: inline;
    vertical-align: middle;
  }
}

ol.columns {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.column {
  float: left;
  list-style-type: none;
  display: block;
}

.email-preview {
  opacity: 0.33;
}

.email-form {
  position: absolute;
  width: 300px;
  top: 15%;
  left: 50%;
  margin-left: -174px;
  background: white;
  padding: 18px 24px;
  box-shadow: 0 0 5px #777;

  form { margin-bottom: 0; }
}

form {
  .help-inline, label.error { color: #a00; }
  input[type="text"].error { color: #a00; border-color: #a00; }
  select.error { border-color: #a00; }
}

small { font-size: 0.88em; }

// Render .nav pills in one line
.nav-pills > li {
  float: none;
  display: inline-block;
}

.inline {
  display: inline-block;
}

h1 {
  margin: 1em 0;
  font-size: 4em;
  font-weight: 100;
  color: black;
}

.alert.small-alert {
  font-size: 11px;
  line-height: 11px;
  padding: 7px 10px;
  margin-bottom: 4px;
}

.deleting { opacity: 0.2 !important; }

iframe.upload-target {
  visibility: hidden;
  height: 1px;
  width: 1px;
}
