body {
  padding-bottom: 60px;
  font-family: "Helvetica Neue", roboto, Helvetica, Arial, sans-serif
}

li { line-height: 1.5em; }

.navbar-inverse .brand { color: white; }

.modal-backdrop {
  background: rgba(220,220,220,0.85);
}

.modal {
  border: none;
  -webkit-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.3);
}

.modal-header {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-left-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  h3 {
    color: white;
    font-weight: 200;
  }
}

.dropdown-menu > li.current {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;

//  background: #EDF9FF;
//  color: rgba(27, 71, 94, 1);
  background: #ededed;
  color: #9d9d9d;
  b.bubble { background: #ccc !important;}
}
