<% content_for :title do %>
<h1 class="project-banner space-below">
  Pull Requests
</h1>
<% end %>

<% if for_email? %>
<h1 class="project-banner space-below">
  Pull Requests
</h1>
<% end %>

<h3>Not authorized</h3>

<p>
  Houston is not permitted to view open pull requests on your behalf.
</p>

<p>
  Click the button below to authorize GitHub to share this information with Houston.
</p>

<%= link_to "Authorize", pull_requests_url, class: "btn btn-primary btn-large" %>
