<tr class="expansion ticket-testing-notes">
  <td class="table-margin"></td>
  <td colspan="5">
    <ol id="ticket_{{id}}_testing_notes" class="testing-notes" style="display: none;">
      {{#if description}}
        <li class='ticket-description'>{{{description}}}</li>
      {{/if}}
    </ol>
  </td>
  <td class="white-space" colspan="{{colspan}}"></td>
  <td class="table-margin"></td>
</tr>
