<% content_for :title do %>
<h1 class="project-banner">
  Testing Report
  
  <button class="btn" id="refresh_testing_report">Refresh</button>
</h1>
<% end %>

<div class="nomargin">
  <table class="table table-sortable table-striped testing-report-table testing-reports-projects">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <td class="ticket-testingPriority"><i class="icon-arrow-up"></i><i class="icon-arrow-down"></i></td>
        <th class="ticket-project sort-asc"><b class="bubble"></b> Project</th>
        <th class="ticket-summary">Ticket</th>
        <th class="ticket-deployment">Environment</th>
        <th class="ticket-due-date">Due Date</th>
        <th class="ticket-participants"><span class="participant-name">Committers</span></th>
        <% User.testers.unretired.each do |tester| %>
          <th class="ticket-participants tester" data-tester-id="<%= tester.id %>"><span class="participant-name"><%= tester.first_name %></span></th>
        <% end %>
        <td class="table-margin"></td>
      </tr>
    </thead>
    
    <tbody id="testing_report"><tbody>
  </table>
</div>

<%= render partial: "testing_report/scripts", locals: {tickets: @tickets} %>
