<h1 class="space-below">
  Testing Report
  
  <button class="btn" id="refresh_testing_report">Refresh</button>
</h1>

<ul class="tester-names">
  <li class="row-fluid">
    <div class="span8">&nbsp;</div>
    <div class="span4">
      <span class="ticket-verdict-summary">&nbsp;</span>
      <span class="tester-verdicts">
        <ul id="testers">
          <% User.testers.each do |tester| %>
            <li class="tester" data-tester-id="<%= tester.id %>"><span class="tester-name"><%= tester.name %></span></li>
          <% end %>
        </ul>
      </span>
    </div>
  </li>
</ul>

<div class="testing-reports-projects">
  <% @projects.each do |project, tickets| %>
    <%= render partial: "testing_report/project", locals: {project: project} %>
  <% end %>
</div>

<%= render partial: "testing_report/scripts", locals: {tickets_by_project_id: @tickets_by_project_id} %>
