.avatar {
  border-radius: 100em;
}

.avatar.avatar-not-our-user {
  border: 2px dotted #aaa;
  margin: -2px;
}

// just like on the timeline page
h1.project-banner .avatar {
  float: right;
  position: relative;
  top: -0.5em;
}

.avatar-24 {
  display: inline-block;
  width: 24px;
  margin-right: 0.5em;
}

.avatar-42 {
  display: inline-block;
  width: 42px;
  margin-right: 0.5em;
}
