<div class='clearfix' id='app' style='overflow:hidden;'></div>
<div id='preload'>
  <img src='/img/loader_white.gif'>
</div>
<% content_for :scripts do %>
<script>
  //<![CDATA[
    $(document).ready(function(){
      FnordMetric.init({
        "host": "<%= @host %>",
        "token": "<%= @namespace %>"
      });
    });
  //]]>
</script>
<% end %>
