<h3 class="heading">
  <%= image_tag image_url("heading-idea-48.png"), size: "36" %>
  Tickets Closed
</h3>

<h3><%= pluralize @report.tickets_closed.count, "ticket" %> closed</h3>
<ul class="tickets">
  <% @report.tickets_closed.each do |ticket| %>
    <li class="ticket">
      <span class="ticket-queue"><%= ticket.resolution.to_s.titleize %></span>
      <%= link_to_ticket(ticket) %>
    </li>
  <% end %>
</ul>
