<div id="graph" class="burndown-chart callout callout-banner"></div>

<div class="score score-medium sprint-total-effort">
  <p class="positive" style="position: relative; top: -14px;"><!-- make it fit -->
    <span class="score-count" id="sprint_history"></span>
    <span class="score-label">Average: <span id="average_effort"></span></span>
  </p>
  <p class="positive">
    <span class="score-count" id="total_effort"></span>
    <span class="score-label">Checked Out</span>
  </p>
</div>

<h2 class="light">Tasks</h2>

<button class="btn btn-danger" id="lock_sprint_button">
  <i class="fa fa-lock" />
  Lock Sprint
</button>
<a class="btn" id="show_completed_tasks" data-toggle="button">Show Completed Tickets</a>

{{#if historical}}
<hr />
{{else}}
<div>
  <form id="add_task_form">
    <input type="text" placeholder="Enter a task number or summary" id="add_task" />
    <i class="fa fa-spinner fa-spin fa-large"></i>
    <hr />
  </form>
</div>
{{/if}}

<table class="table table-sortable table-milestone-tasks">
  <thead>
    <tr>
      <th class="task-effort">Effort</th>
      <th class="task-project sort-desc">Project</th>
      <th class="task-summary">Summary</th>
      <th class="task-status">Status</th>
      <th class="task-worker">Worker</th>
      {{#unless locked}}
      <td class="task-remove"></td>
      {{/unless}}
    </tr>
  </thead>
  <tbody id="tasks">
    {{#tasks}}{{> sprintTask}}{{/tasks}}
  </tbody>
</table>
