<div id="graph" class="burndown-chart"></div>

<div class="score score-medium sprint-total-effort">
  <p class="positive">
    <span class="score-count" id="total_effort"></span>
    <span class="score-label">Checked Out</span>
  </p>
</div>

<p>
  <button class="btn btn-danger" id="lock_sprint_button">
    <i class="icon icon-lock" />
    Lock Sprint
  </button>
  <a class="btn" id="show_completed_tasks" data-toggle="button">Show Completed Tickets</a>
</p>

<div>
  <form id="add_task_form">
    <label for="add_task">Add Ticket</label>
    <input type="text" placeholder="Enter a task number or summary" id="add_task" />
    <i class="icon-spinner icon-spin icon-large"></i>
    <hr />
  </form>
</div>

<table class="table table-sortable table-milestone-tasks">
  <thead>
    <tr>
      <td class="task-remove"></td>
      <th class="task-effort">Effort</th>
      <th class="task-project sort-desc">Project</th>
      <th class="task-summary">Summary</th>
      <th class="task-worker">Worker</th>
    </tr>
  </thead>
  <tbody id="tasks">
    {{#tasks}}{{> sprintTask}}{{/tasks}}
  </tbody>
</table>
