<table id="kanban">
  <tr>
    <td>
      <ul id="on_deck">
        <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
        <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
        <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
        <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
      </ul>
    </td>
    <td><ul id="in_development"></ul></td>
    <td><ul id="staged_for_testing"></ul></td>
    <td><ul id="in_testing"></ul></td>
    <td><ul id="staged_for_release"></ul></td>
    <td><ul id="released_last_week"></ul></td>
  </tr>
  <tr>
    <th>On Deck</th>
    <th>In Development</th>
    <th>On Deck</th>
    <th>In Testing</th>
    <th>On Deck</th>
    <th>Released Last Week</th>
  </tr>
</table>
