<table id="kanban">
  <tbody>
    <tr>
      <td>
        <ul id="on_deck">
          <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
          <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
          <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
          <li class="ticket placeholder"><a><span class="add-ticket">+<span></a></li>
        </ul>
      </td>
      <td><ul id="in_development"></ul></td>
      <td><ul id="staged_for_testing"></ul></td>
      <td><ul id="in_testing"></ul></td>
      <td><ul id="staged_for_release"></ul></td>
      <td><ul id="released_last_week"></ul></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>
        On Deck
        <p class="small">Tickets staged for development</p>
      </th>
      <th>
        In Development
        <p class="small">Tickets currently being worked on</p>
      </th>
      <th>
        On Deck
        <p class="small">Tickets waiting to enter testing</p>
      </th>
      <th>
        In Testing
        <p class="small">Tickets ready to test</p>
      </th>
      <th>
        On Deck
        <p class="small">Tickets staged for the next release</p>
      </th>
      <th>
        Last Release
        <p class="small">Tickets closed during the last release</p>
      </th>
    </tr>
  </tfoot>
</table>
