<table id="kanban">
  <tbody>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <td><ul id="<%= queue.slug %>"></ul></td>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th>
          <%= queue.name %>
          <p class="small"><%= queue.description %></p>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
