<a id="full_screen_link">Full Screen</a>

<%= render :partial => "kanban/kanban", locals: {projects: @projects} %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      
      window.kanban = new Kanban({
        projects: <%= raw @projects.map { |project| { slug: project.slug, color: project.color } }.to_json %>,
        queues: <%= raw KanbanQueue.slugs %>
      });
      
      kanban.loadQueues();
      
      function autoUpdate() {
        kanban.el.addClass('auto-update');
        $('#auto_update').remove();
        $('#timer_wrapper').fadeIn();
        new Refresher({time: 300000, callback: kanban.loadQueues}); // 5 minutes
      }
      
      $('#auto_update').click(function() {
        autoUpdate();
        window.location.hash = kanban.el.attr('class');
      });
      
      $('#full_screen_link').click(function() {
        kanban.showFullScreen();
        window.location.hash = kanban.el.attr('class');
      });
      
      $(document).keydown(function(e) {
        if(e.keyCode == 27) {
          kanban.showNormal();
          window.location.hash = kanban.el.attr('class');
        }
      });
      
      var options = window.location.hash.substring(1).split(' ');
      if(_.include(options, 'full-screen')) kanban.showFullScreen();
      if(_.include(options, 'auto-update')) autoUpdate();
      
    });
  </script>
<% end %>
