<a id="full_screen_link">Full Screen</a>

<%= render :partial => "kanban/kanban", locals: {projects: @projects} %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      var kanban = new Kanban({
        projects: <%= raw @projects.map { |project| { slug: project.slug, color: project.color } }.to_json %>,
        queues: <%= raw KanbanQueue.slugs %>
      });
      
      kanban.loadQueues();
      
      $('#auto_update').initializeAutoUpdate(300000, kanban); // 5 minutes
      
      $('#full_screen_link').click(function() {
        kanban.showFullScreen();
      });
      
      $(document).keydown(function(e) {
        if(e.keyCode == 27) {
          kanban.showNormal();
        }
      });
    });
  </script>
<% end %>
