<a id="full_screen_link">Full Screen</a>

<%= render :partial => "kanban/kanban" %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      var kanban = new Kanban(<%=raw @projects.map { |project| {
        id: project.unfuddle_id,
        color: project.color
      }}.to_json %>);
      
      kanban.loadQueues();
      
      $('#full_screen_link').click(function() {
        kanban.showFullScreen();
      });
      
      $(document).keydown(function(e) {
        if(e.keyCode == 27) {
          kanban.showNormal();
        }
      });
    });
  </script>
<% end %>
