<% content_for :title do %>
<h1 class="project-banner space-below">
  Jobs
</h1>
<% end %>

<% if $scheduler %>
  <p><b>Status:</b> <%= $scheduler.up? ? "Up (Started #{$scheduler.started_at})" : "Down" %></p>

  <div class="nomargin">
    <table id="jobs" class="table table-sortable table-striped">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <th class="scheduler-job-name">Name</th>
          <th class="scheduler-job-schedule">Schedule</th>
          <th class="scheduler-job-run-now"></th>
          <td class="table-margin"></td>
        </tr>
      </thead>
      <tbody>
        <% $scheduler.jobs.each do |job| %>
          <tr class="scheduler-job">
            <td class="table-margin"></td>
            <td class="scheduler-job-name"><%= job.tags.first %></td>
            <td class="scheduler-job-schedule"><%= job.original %></td>
            <td class="scheduler-job-run-now">
              <%= button_to "Run now", run_job_path(slug: job.tags.first), :class => "btn btn-default" %>
            </td>
            <td class="table-margin"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <p><b>Status:</b> Unavailable</p>
<% end %>


<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#jobs').tablesorter();
    });
  </script>
<% end %>
