<form>
  <input type="text" placeholder="Enter a ticket number or summary" id="find_or_create_ticket" />
  <span class="create-ticket">Press <span class="label">Enter</span> to create a new ticket</span>
</form>
