<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  {{#if index}}{{index}} of {{count}}{{/if}}
</div>
<div class="modal-body">{{{ticket}}}</div>
