<style type="text/css">
  h5 { 
    font-family: 'Calibri', 'Segoe UI', 'Helvetica', sans-serif;
  }
</style>

<h3>New Release</h3>

<div style="position:relative; border: 1px solid #ccc; padding: .66em 1.5em; background-color: #efefef;">
  <h3 style="color: rgba(0,0,0,0.15); font-size: 6.66em; position: absolute; top: 0.5em; left: 0.25em; margin: 0; padding: 0; -webkit-transform:rotate(-30deg); -moz-transform:rotate(-30deg); -ms-transform:rotate(-30deg); transform:rotate(-30deg);">Sample</h3>
  
  <%= render partial: "releases/changelog", locals: {release: @release} %>
</div>

<form action="<%= new_release_url(@release) %>" method="get">
  <input type="submit" value="Create Release" />
</form>
