<style type="text/css">
  h5 { 
    font-family: 'Calibri', 'Segoe UI', 'Helvetica', sans-serif;
  }
</style>

<%= mdown(@release.message) %>

<h4 style="margin:3em 8px 0.25em; padding:0; line-height:1em; font-family: 'Calibri', 'Segoe UI', 'Helvetica', sans-serif;">Release Notes <%= link_to image_tag("#{root_url}/images/new-window-link-10.png", width: 10, height: 10), release_url(@release) %></h4>
<div style="margin:0 8px; padding:0.5em 1.25em 1em; border:1px solid #ccc; border-width: 1px 0;">
  <%= render partial: "releases/changelog", locals: {release: @release} %>
</div>
