<li class="omnibar-item" data-value="{{url}}"><a>
  <b class="bubble {{projectColor}}"></b>
  <span class="project-title">{{projectTitle}}</span>
  <span class="project-link-title">{{title}}</span>
</a></li>
