<% content_for :title do %>
<h1 class="project-banner space-below">
  <%= link_to "Actions", actions_path %>
  <small><%= @action_name %></small>
</h1>
<% end %>

<div class="nomargin">
  <table id="actions" class="table table-sortable table-striped">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="action-time">Time</th>
        <th class="action-duration">Duration</th>
        <th class="action-trigger">Trigger</th>
        <th class="action-params">Params</th>
        <th class="action-succeded">Succeeded</th>
        <th class="action-exception">Exception</th>
        <th class="action-retry">Retry</th>
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody class="infinite-scroll">
      <%= render "actions/actions" %>
    </tbody>
  </table>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#actions')
        .tablesorter()
        .on('click', '.action-params-short', function() {
          $(this).next().modal();
        });
    });
    new InfiniteScroll({
      load: function($tbody) {
        var timestamp = $tbody.find('.action:last').attr('data-timestamp');
        return $.get(window.location.pathname, {before: timestamp});
      }
    });
  </script>
<% end %>
