<%= render partial: "users/header", locals: {user: @user} %>

<% stats = @stats %>
<h4>Ticket Statistics</h4>
<%= score_card :large do |s| %>
  <% s.score "Filed", stats[:tickets] %>
  <% s.percent "Duplicate<br /><small>or</small> Invalid".html_safe, stats[:invalid_tickets] %>
  <% s.percent "Fixed", stats[:fixed_tickets] %>
<% end %>
