<%= render partial: "users/header", locals: {user: @user} %>

<% if current_user == @user %>
<p>You can change your avatar by going to <a href="http://gravatar.com/">gravatar.com</a> and associating an image with your email address <b><%= current_user.email %></b>.</p>
<% end %>
