<%= render partial: "users/header", locals: {user: @user} %>

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid tester-ticket-list">
      <div class="span6">
        <%= render partial: "users/tester_wall_tickets", locals: {tickets: @tickets_to_retest} %>
      </div>
      <div class="span3">
        <h2>Did we fix it?</h2>
        <p>Earlier, you found these tickets to be failing. We changed something. Do they work now?</p>
      </div>
    </div>
    
    <div class="row-fluid tester-ticket-list">
      <div class="span6">
        <%= render partial: "users/tester_wall_tickets", locals: {tickets: @tickets_to_test} %>
      </div>
      <div class="span3">
        <h2>New Tickets to Test!</h2>
        <p>These are tickets you haven't tested yet.</p>
      </div>
    </div>
    
    <div class="row-fluid tester-ticket-list">
      <div class="span6">
        <%= render partial: "users/tester_wall_tickets", locals: {tickets: @tickets_already_tested} %>
      </div>
      <div class="span3">
        <h2>Done!</h2>
        <p>These are tickets in the current batch that you've finished testing.</p>
      </div>
    </div>
  </div>
</div>
