<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @environments.each do |environment| %>
      <tr>
        <td><%= link_to environment.name, environment_path(environment) %></td>
        <td>
          <%= link_to 'Edit', edit_environment_path(environment), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', environment_path(environment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_project_environment_path(@project), :class => 'btn btn-primary' %>
