<h1>Tickets by Reporter</h1>
<p>as of <b><%= @last_updated.strftime('%B %e, %Y %l:%m %p') %></b></p>

<div id="tickets_by_reporter" style="min-width: 720px; height: 660px; margin: 0 auto"></div>

<h1>Tickets by Project</h1>
<p>as of <b><%= @last_updated.strftime('%B %e, %Y %l:%m %p') %></b></p>

<div id="tickets_by_project" style="min-width: 720px; height: 660px; margin: 0 auto"></div>

<%
  
  tickets_by_user = {}
  tickets_by_project = {}
  @tickets.each do |ticket|
    user = @user_names_by_ids[ticket["reporter_id"]] || "?"
    tickets_by_user[user] = (tickets_by_user[user] || 0) + 1
    
    project = @project_names_by_ids[ticket["project_id"]]
    tickets_by_project[project] = (tickets_by_project[project] || 0) + 1
  end
  
  tickets_by_user = tickets_by_user.to_a.sort_by { |pair| -pair[1] }
  tickets_by_project = tickets_by_project.to_a.sort_by { |pair| -pair[1] }
  
  

%>


<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      
      // Radialize the colors
      Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
        return {
          radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
          stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
          ]
        };
      });
      
      ticketsByReporter = <%=raw tickets_by_user.to_json %>;
      ticketsByReporter[1] = {name: 'API', y: ticketsByReporter[1][1], color: '#FFFFFF'} // Replace API with different color
      
      ticketsByProject = <%=raw tickets_by_project.to_json %>;
      
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'tickets_by_reporter',
          backgroundColor: null,
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false },
        credits: {
          enabled: false },
        title: {
          text: null },
        plotOptions: {
          pie: {
            animation: false,
            dataLabels: {
              formatter: function() { return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %'; } },
            shadow: false,
            states: {
              hover: {
                enabled: false } } } },
        tooltip: {
          formatter: function() { return '<b>' + this.point.name + '</b><br />' + this.y + ' tickets'; } },
        series: [{
            type: 'pie',
            data: ticketsByReporter
          }] });
      
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'tickets_by_project',
          backgroundColor: null,
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false },
        credits: {
          enabled: false },
        title: {
          text: null },
        plotOptions: {
          pie: {
            animation: false,
            dataLabels: {
              formatter: function() { return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %'; } },
            shadow: false,
            states: {
              hover: {
                enabled: false } } } },
        tooltip: {
          formatter: function() { return '<b>' + this.point.name + '</b><br />' + this.y + ' tickets'; } },
        series: [{
            type: 'pie',
            data: ticketsByProject
          }] });
      
    });
  </script>
<% end %>
