<% content_for :title do %>
<h1 class="project-banner space-below">
  <small>New Ticket for</small>
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div class="project-tiles">
  <% @projects.each do |project| %>
    <%= link_to project.name, new_ticket_path(project), :class => "project-tile #{project.color}" %>
  <% end %>
</div>

<div class="tip">
  <h6>Don't see the project you want to create a ticket for?</h6>
  You might need to <%= link_to "follow it", projects_path %>.
</div>
