<%= link_to main_app.project_tickets_sync_path(project), id: "sync_tickets_button", "data-tracker" => project.ticket_tracker_name, class: "project-banner-btn #{"working" if project.ticket_tracker_sync_in_progress?}" do %>
  <i class="fa fa-refresh"></i>
  <span data-toggle="tooltip" title="Last Synced with <%= project.ticket_tracker_name %>" class="ticket-tracker-last-sync"><%= format_time project.last_ticket_tracker_sync_at %></span>
<% end %>
