<%= breadcrumbs "Projects" => projects_path,
                @project.name => Project.all %>

<h2>Environments</h2>
<%= render :partial => "project_environments/table" %>

<div class="form-actions">
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
  <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
