<div class="new-ticket-wrap">
  <div class="ticket-summary-wrap">
    <input id="ticket_summary" name="ticket[summary]" type="text" placeholder="[feature] New Feature: type your summary here" />
  </div>
  <ol id="ticket_suggestions">
  </ol>
  <div class="ticket-description new-ticket-full uploader">
    <textarea id="ticket_description" name="ticket[description]" rows="4"></textarea>
  </div>
</div>
<div class="new-ticket-full new-ticket-buttons">
  <button class="btn" id="reset_ticket">Cancel</button>
  <button class="btn btn-primary" id="create_ticket">Create</button>
</div>
