<div id="new_ticket_modal" class="modal hide {{color}}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Ticket</h3>
  </div>
  <div class="modal-body">
    <form id="new_ticket_view" data-mode="type"></form>
  </div>
</div>
