<%= render partial: "projects/header", locals: {project: @project, subtitle: @queue.name} %>

<% if @tickets.any? %>
  <ul class="tickets">
    <% @tickets.each do |ticket| %>
      <li><%= link_to_ticket(ticket) %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">There are no tickets <b><%= @queue.name.downcase %></b> for <b><%= @project.name %></b> right now.</div>
<% end %>
