<%= header do |p| %>
  <%= p.breadcrumbs "Kanban" => kanban_path,
                    @project.name => project_kanban_path(@project),
                    @queue.name => nil %>
<% end %>

<ul class="tickets">
  <% @tickets.each do |ticket| %>
    <li>
      <%= link_to_ticket(ticket) %>
      <%= testing_note_badge_for_ticket(ticket) if @queue.slug == "in_testing" %>
    </li>
  <% end %>
</ul>
