
<% if @tickets.any? %>
  <div class="nomargin">
    <table id="tickets" class="table table-sortable table-striped table-hoverable infinite-scroll">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <th class="ticket-number" data-attribute="number">#</th>
          <td class="ticket-type ticket-type-na"></td>
          <td class="ticket-reporter"></td>
          <th class="ticket-summary" data-attribute="summary">Summary</th>
          <th class="ticket-milestone" data-attribute="milestone">Milestone</th>
          <th class="ticket-opened date sort-asc" data-attribute="openedAt">Opened</th>
          <th class="ticket-closed date" data-attribute="closedAt">Closed</th>
          <td class="table-margin"></td>
        </tr>
      </thead>
    </table>
  </div>

  <% content_for :javascripts do %>
    <script type="text/javascript">
      $(function() {
        var tickets = new Tickets(<%=raw MultiJson.dump(@tickets.map(&:as_json)) %>, {parse: true});
        new AllTicketsView({
          el: document.getElementById('tickets'),
          infiniteScroll: true,
          tickets: tickets,
          project: <%=raw @project.slug.to_json %>
        }).render();
      });
    </script>
  <% end %>
<% else %>
  <div class="alert alert-info">There are no tickets for this project yet. Click <b>New Ticket</b> to create one.</div>
<% end %>
