<%= render partial: "projects/header", locals: {project: @project, subtitle: "New Ticket for", without: %w{new_ticket keyboard_shortcuts}} %>

<form id="new_ticket_view" class="full-page" data-mode="type"></form>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    new NewTicketView({
      tickets: <%= raw @tickets.to_json %>,
      project: {
        slug: <%= raw @project.slug.to_json %>,
        ticketTrackerName: <%= raw @project.ticket_tracker_name.to_json %><%# so that we can log in %>
      }
    }).render();
  });
</script>
<% end %>
