<h1 class="project-banner <%= @project.color %>">
  <small>Test Results for</small> <%= @project.name %>
</h1>

<h2 class="test-result-banner tests-<%= @test_run.result %>"><%= @test_run.result %></h2>
