#activity_feed {
  max-width: 920px;
  margin: 0 auto;
//  overflow-x: hidden;
//  position: relative;

  &.loading {
    &::before {
      content: '.';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,0.85);
      z-index: 1;
    }
    &::after {
      content: '\f110';
      font-family: 'FontAwesome';
      font-size: 5em;
      color: #777;
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      -moz-animation: spin 2s infinite linear;
      -o-animation: spin 2s infinite linear;
      -webkit-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
      z-index: 2;
    }
  }

  h1 {
    img.avatar {
      float: right;
      position: relative;
      top: -0.5em;
    }
  }

  .timeline {
    max-width: 860px;
    padding-right: 60px;
  }
}
