.action-last,
.action-duration,
.action-reliability {
  white-space: nowrap;
}

td.action-reliability {
  padding-right: 16px !important;
}

.action-success-rate {
  font-size: 0.75em;
  line-height: 20px;
  float: right;
}
