.commit-profile {

  .avatar { float: left; margin: 0 14px 14px 0; }
  h2 { font-weight: 100; margin-left: 110px; }
  h4 { font-weight: 400; }
}

.commit-extra-attribute {
  color: #666;
  font-size: 10px;
  line-height: normal;
  background: #f4f4f4;
  display: inline-block;
  padding: 2px;

  &::before { content: '{{'; }
  &::after { content: '}}'; }
}

.commit-extra-attribute-key::after {
  content: ':';
}
