#repos {
  margin: 0;
  padding: 0;
}

.repo {
  display: block;
  padding: 0 4px;
  border-radius: 2px;

  &:hover {
    background: rgba(128, 212, 255, 0.1);
  }

  &.selected {
    background: rgba(128, 212, 255, 0.25);
  }

  &.disabled {
    background: #f9f9f9;
  }

  &.retired {
    .repo-owner { color: #ddd; }
    .repo-name > .label { opacity: 0.4; }
    .repo-owner, .repo-name {
      position: relative;

      &::after {
        display: block;
        content: '.';
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        margin: 0;
        border-bottom: 2px solid #555;
      }
    }
  }

  input[type="checkbox"] {
    margin: 8px;
    float: left;

    &[disabled] + label {
      color: #bbb;
    }
  }

  label {
    padding: 4px 0;
    margin: 0;
  }

  .repo-visibility {
    display: inline-block;
    margin: 0 4px;

    .fa { width: 14px; }
    .fa-unlock { opacity: 0.1; }
  }

  .repo-owner {
    &::after {
      display: inline-block;
      content: '/';
      margin: 0 0.33em;
    }
  }

  .repo-name b {
    color: #505050;
  }
}
