.keyboard-shortcuts {
  margin: 1em;
  white-space: nowrap;

  th {
    font-weight: normal;
    text-align: left;
  }
  td {
    padding-left: 1em;
    line-height: 22px;
  }
}

kbd {
  font-family: Monaco, "Liberation Mono", Courier, monospace;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
  padding: 0 5px;
  color: white;
  background: #555;
  box-shadow: inset -1px -2px 0 #000,1px 1px 1px rgba(0,0,0,0.2);
  margin-right: 2px;
}
