.markdown {
  // formatting for markdown, etc within comments, ticket description
  h1 { font-size: 1.5em; font-weight: 300; margin: 0.66em 0 0.33em 0; line-height: 1.18em; }
  h2 { font-size: 1.33em; margin: 0.66em 0 0.33em 0; line-height: 1.42857142857143em; }
  h3 { font-size: 1.08em; font-weight: 500; margin: 0.66em 0 0.33em 0; line-height: 1.42857142857143em; ; }
  h4 { font-size: 1em; margin: 0.66em 0 0.33em 0; line-height: 1.42857142857143em; }
  h5 {}
  h6 { text-transform: none; color: #888; }

  blockquote {
    border-left: 5px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    font-size: 1.0666em;
    color: #555;
  }

  // so as not to look like project banners
  h1 {
    background: none;
    color: inherit;
    padding: 0;
    margin: 0.25em 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
