$navbar-height: 34px;
$avatar-size: $navbar-height - 6px;
$project-navbar-height: 34px;

.navbar .dropdown-menu .bubble { margin: 0 0.25em 0 0; }

.navbar-inverse .brand, .navbar-inverse .nav > li > a { text-shadow: none; }
.navbar-inverse .navbar-inner {
  background: #222 !important;
}

.navbar-inverse .divider-vertical {
  border-left-color: #080808;
  border-right-color: #303030;
}

.nav-icon {
  display: inline-block;
  height: 18px;

  svg {
    width: 18px;
    height: 18px;

    * { fill: #999; }
  }
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
  svg * { fill: white; }
}

.navbar .brand {
  padding: 6px 12px 10px 20px;
  margin: 0 15px 0 0;
  height: $navbar-height - 16px;
  position: relative;
  z-index: 1;
  background: black;
  color: #ddd;

  &::before {
    content: '.';
    color: transparent;
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 0px;
    height: 0px;
    border-top: ($navbar-height / 2) solid transparent;
    border-bottom: ($navbar-height / 2) solid transparent;
    border-left: 10px solid black;
  }
}

// Don't let the navbar wrap onto multiple lines
.navbar .nav {
  height: $navbar-height;
  float: none;
  margin: 0;
}

.navbar-inverse .navbar-inner {
  border-bottom: none;
  box-shadow: none;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}

.navbar .nav .dropdown-toggle .caret { margin: 9px -4px 0 0; }

.navbar .nav > li > a,
.navbar-inverse .nav > li.current {
  padding: 6px 15px 10px;
  height: $navbar-height - 16px;
}

// same as .dropdown.open
.navbar-inverse .nav > li.current {
  color: #ffffff;
  background-color: #333;
}

.navbar-inner {
  min-height: $navbar-height;
  height: $navbar-height;
}

.navbar .divider-vertical {
  height: $navbar-height;
}


.navbar .nav .current-project {
  margin-right: 15px;
  white-space: nowrap;
  position: relative;

  .dropdown-menu { left: 8px; }
}

$current-project-active-bg: #222;
.navbar .nav .current-project > a {
  color: white;
  text-shadow: none;
  height: $project-navbar-height - 12px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 200;

  &::after {
    font-family: 'FontAwesome';
    content: '\f0dc';
    display: inline-block;
    margin-left: 0.25em;
    font-size: 11px;
  }

  &::before {
    content: '.';
    color: transparent;
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 0px;
    height: 0px;
    border-top: ($project-navbar-height / 2) solid transparent;
    border-bottom: ($project-navbar-height / 2) solid transparent;
    border-left-width: 10px;
    border-left-style: solid;
  }

  &:hover { color: white; }
}

.navbar .nav li.current-project.dropdown.open > .dropdown-toggle,
.navbar .nav li.current-project.dropdown.active > .dropdown-toggle,
.navbar .nav li.current-project.dropdown.open.active > .dropdown-toggle {
  background: $current-project-active-bg;
  color: white;

  &::before { border-left-color: $current-project-active-bg; }
}

.project-navbar {
  position: fixed;
  top: $navbar-height;
  width: 100%;
  z-index: 1029;
  padding: 0;
  height: $project-navbar-height;

  .nav-icon svg * { fill: #333; }

  .project-no-features {
    color: white;
    line-height: $project-navbar-height;
  }
}

.project-navbar .nav > li { float: left; }
.project-navbar .nav > li > a,
.project-navbar .nav > li.current {
  padding: 6px 15px;
  height: $project-navbar-height - 12px;
}
.project-navbar .nav > li > a {
  color: #333;
  text-shadow: none;
}

.project-navbar .nav > li.current {
  background: white;
  color: black;

  .nav-icon svg * { fill: black; }
}


.navbar .nav.pull-right {
  z-index: 5;

  .fa-cog { font-size: 20px; }
}

.navbar .nav > li.current-user > a {
  padding: 3px 15px;
  height: $navbar-height - 6px;
}

.navbar .nav > li > a.settings-link {
  padding: 8px 4px 0;
}

.nav {
  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    opacity: 0.9;
  }

  a:hover .avatar, .dropdown.open .avatar { opacity: 1; }
}




$threshhold: 768px;

@media (max-width: $threshhold) {
  .nav .nav-label { display: none; }
}

@media (max-width: 500px) {
  .project-navbar { padding-left: 0; padding-right: 0; }
}

@media (min-width: $threshhold) {
  .nav .nav-icon { display: none; }
}

.project-banner {
  top: $navbar-height + $project-navbar-height;
  border-bottom: 1px solid #e0e0e0;
}

.project-banner .dropdown .caret {
  margin-top: 16px;
}

.project-banner .subtitle {
  font-weight: normal;
  color: #444;
}

.project-banner {
  background: #efefef;
  font-weight: 500;
  padding: .66em .66em .66em 28px;
  margin: 0 0 1em;
  font-weight: 200;
  font-size: 2em;


  a.btn { color: white ;}

  .buttons { float: right; }

  small {
    font-weight: 100;
    font-size: .75em;
    text-transform: uppercase;
    color: inherit;

    &.colon { font-family: arial; }
    &.postfix { text-transform: lowercase; }
  }

  .light { font-weight: 100; }
}

@media only screen and (max-width: 600px)  {
  .project-banner {
    padding-left: .66em;
  }
}

body {
  padding-top: $navbar-height + $project-navbar-height
}

#body {
  padding-top: 105px;
}
