@media (max-width:1200px) {
  .project-features { display: none; }
}

@media (max-width:1050px) {
  .project-dependency { display: none; }
}

h2.uncategorized {
  font-style: italic;
  font-weight: normal;
}

.project-dependency {
  vertical-align: top !important;
}

.friendly-duration {
  white-space: nowrap;
}

td.project-participants .hidden-text { display: inline-block; }

.project-participant {
  white-space: nowrap;
  display: inline-block;
  margin: 1px;
}

.inline-label {
  display: inline;
  display: inline-block;

  input[type="image"], input[type="checkbox"], input[type="radio"] { margin: 0; }
}

td.project-title { white-space: nowrap; }

.project-following form { margin-bottom: 0; }

.project-adapter-fields { display: none; }
