.project-banner {
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
//  border-bottom: 1px solid rgb(210, 210, 210);

  &.affix {
    position: fixed;
    top: -4px;
    z-index: 1028; // right below the navbar
  }

  .project-banner-btn {
    color: #333;
    padding: 6px;
    display: block;
    float: right;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 8px 0 0;
    position: relative;
    top: -4px;

    &:focus { text-decoration: none; }

    label {
      display: inline-block;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 0;
    }

    i {
      display: inline-block;
      font-size: 18px;
      line-height: 23px;
      vertical-align: middle;
    }

    &:hover {
      text-decoration: none;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 6px;
    }

    span {
      display: inline-block;
      font-size: 11px;
      line-height: 11px;
    }
  }
}
