@import "houston/variables.scss";

.no-items { font-style: italic; }

.commit-range {
  @include code;
  .ellipsis { letter-spacing: -2px; margin: 0 1px 0 -1px; }
}

.commit-sha {
  @include code;
  font-size: 0.88em;
}

.-houston-changelog {
  clear: both;

  h4 {
    position: relative;
    margin: 0 0 14px 0;
    padding: 10px 14px 8px;
    background: #efefef;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    .weekday {
      font-weight: 200;
      color: #666;
    }

    a {
      text-transform: lowercase;
      font-weight: 200;
      float: right;
    }
  }

  .-houston-changelog-day {
    margin-bottom: 28px;
  }

  .release-header {
    margin-left: 3px;

    .commit-range {
      float: right;
      font-size: 0.88em;
    }
  }

  .release { padding-left: 1em; }

  .commit-sha { float: right; }

  .change {
    margin: 0 0 10px 0;

    &::after {
      content: '.';
      clear: both;
      text-indent: -9999em;
      display: block;
      line-height: 0;
      height: 0;
      visibility: hidden;
    }

    .change-tag {
      float: left;
      clear: left;
      width: 100px;
      margin: 2px 6px 0 0;
      padding: 3px 6px 2px;
      text-align: right;
      vertical-align: top;
      text-transform: uppercase;
      text-shadow: none;
      font-size: 11px;
      font-weight: 200;
      line-height: 16px;
      letter-spacing: 1px;
      white-space: nowrap;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #888;
      color: white;
    }

    .change-summary {
      margin-left: 124px;
      word-wrap: break-word;
      font-size: 1.12em;
      line-height: 19px; // height of .change-tag
      padding-top: 3px; // padding on .change-tag

      p { margin: 0; }
    }
  }

}



.release-message { margin: 1.5em 1.5em 2.5em 1.5em; }

.release-detail {
  line-height: 1.5em;

  .release-detail-section {
    border-top: 1px solid #f2f2f2;
    padding-top: 1.5em;
    margin-top: 1.5em;
  }

  .release-commits ul {
    font-size: 0.88em;
    line-height: 1em;
  }

  h5 {
    float: left;
    clear: left;
    width: 100px;
    margin: 0;
    color: #777;

    .commit-range { font-size: 0.75em; font-weight: normal; }
  }

  p.no-items { margin: 0 0 0 124px; }

  ul {
    margin: 0 0 0 124px;
    padding: 0;

    &.typeahead { margin: 2px 0 0; }
    &.commits { max-width: 720px; }

    li {
      list-style-type: none;

      p { margin: 0; }
    }
  }
}

#new_release_form {
  .instructions { margin-top: 0; }
  .commit-sha { float: right; }
  label .commit-range {
    font-size: 10.5px;
    display: block;
    font-weight: normal;
  }
}



.input-group {
  input[type="text"],
  input[type="search"],
  input[type="submit"],
  .btn {
    margin-bottom: 0;

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.release-search-result em {
  font-style: normal;
  display: inline-block;
  background: rgba(255, 255, 0, 0.12);
  font-weight: 500;
}
