$completed-background: #E6F3E2;
$completed-foreground: rgb(42, 133, 19);

.project-banner {
  a { color: #999; }
  a i { vertical-align: text-bottom; font-size: 0.88em; }
}

.sprint-total-effort {
  float: right;
  margin-bottom: 12px;
}

.task-project { white-space: nowrap; }

#add_task {
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  margin-bottom: 0;
  padding: 0.5em 1em;
}
#add_task_form .fa-spinner { display: none; }
#add_task_form.loading .fa-spinner { display: inline-block; }

.burndown-chart.callout {
  height: 260px;
}

h2.light {
  font-weight: 200;
  display: inline-block;
  margin: 1em 0 0 0;
}

#sprint_view {

  #lock_sprint_button, #show_completed_tasks {
    margin-bottom: 12px;
  }

  &.hide-completed .task-completed { display: none; }
  .task-completed {
    background: $completed-background;
    color: $completed-foreground;
    a { color: $completed-foreground; }
  }

  tr.task td { vertical-align: top; }

  .task-effort { text-align: right; }
  .task-status {
    white-space: nowrap;
    .fa, .octicon { width: 16px; text-align: center; }
  }
  .task-worker { white-space: nowrap; }

  #average_effort {
    font-weight: 700;
  }
}

.remove-button, .complete-task-button {
  color: #e0e0e0;
  display: inline-block;
  cursor: pointer;
  font-family: 'FontAwesome';
  font-size: 1.5em;

  &:hover { text-decoration: none; }
}

.remove-button {
  font-size: 18px;
  &::after { content: '\f056'; }
  &:hover { color: #E52F26; }
}
.complete-task-button {
  font-size: 16px;
  &::after { content: '\f058'; }
  &:hover { color: #4CB810; }
}
#sprint_view .task-completed a:hover { color: #7F9C6F; }
