.teams {
  column-width: 320px;
  column-gap: 1em;
  columns: 3;
}
@media (max-width: 1024px) { .teams { columns: 2; } }
@media (max-width: 720px) { .teams { columns: 1; } }

.team-wrapper {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  padding-bottom: 1em;
}

.team {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.1);
  border: 1px solid #ccc;
  padding: 2em;
  border-radius: 4px;

  h3 {
    line-height: normal;
    margin: 0 0 1em 0;
  }

  h6 {
    margin: 2em 0 0.5em 0;
  }

  ol {
    overflow: auto;
    margin: 0;
    padding: 0;
  }

  ol.team-members {
    column-width: 320px;
    column-gap: 1em;
    columns: 2;
  }

  li.team-member {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
    display: block;
    position: relative;
    line-height: normal;
    padding: 0 0 0.5em 40px;
    min-height: 32px;

    .user-avatar {
      position: absolute;
      left: 0;
    }

    .user-name { display: block; }
    .user-roles { display: block; }
  }

  .team-projects-add {
    margin: 1em 0 0 0;
  }
}
