.ticket-tag {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#tickets th {
  white-space: nowrap;
}

.table td {
  &.ticket-number {
    text-align: right;
  }

  &.ticket-reporter {
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    padding-right: 0;
  }

  &.ticket-opened, &.ticket-closed, &.date {
    line-height: 1em;
    text-align: right;

    .year { display: block; font-size: 0.75em; }
  }
}
