.users {
  margin: 1em .5em 3em 0;
  padding: 0;
}

.notifications-instructions { font-style: italic; }

.controls > p {
  padding-top: 5px;
  margin-bottom: 5px;
}

li.user_credentials { line-height: 2em; }
.user-credentials-service { display: inline-block; width: 20em; }

th > small { font-weight: 500; }
.user-avatar { width: 32px; }
table#users  {
  th { line-height: 1em; }
  td { line-height: 32px; }
  .user-tickets-filed, .user-tickets-invalid, .user-tickets-fixed { text-align: right; }
}
