<% @issues.each do |issue| %>
  <tr class="fire">
    <td style="padding: 0.25em 1em;">
      <%= link_to issue.summary, issue.url, target: "_blank", style: "color: #aaa;" %>
    </td>
    <td style="padding: 0.25em 1em;">
      <% if issue.assigned_to_user %>
        <%= avatar_for(issue.assigned_to_user, size: 36) %><%= issue.assigned_to_user.name %>
      <% else %>
        <%= issue.assigned_to_email %>
      <% end %>
    </td>
  </tr>
<% end %>
