.nested.editor ol {
  margin: 0;
  padding: 0;
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    
    div { 
      display: inline-block;
      margin-right: 0.5em;
      margin: 1px 0;
    }
  }
}
.nested.editor.headings div {
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}


.add-link, .delete-link { 
  opacity: 0.2;
  &:hover { opacity: 1; }
}
