#full_screen_link {
  position: absolute;
  right: 14em;
  z-index: 1999;
  cursor: pointer;
}

#timer_wrapper {
  display: none;
  position: absolute;
  top: 57px;
  right: 2em;
  z-index: 2001;
  width:140px;
  
  #timer {
    float:left;
    margin-left:3px;
  }
  
  #last_update {
    width:85px;
    float:left;
    padding: 3px;
    margin-top:3px;
    line-height:1.1em;
    
    span {font-weight: bold;font-size:1.333em;}
  }
  
}

#auto_update {
  position: absolute;
  right: 2em;
  top: 60px;
  z-index: 100;
  cursor:pointer;
}

#kanban {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  
  td { 
    width: 16.666666%;
    max-width: 16.666666%;
    vertical-align: bottom;
    text-align: center;
  }
  
  th { 
    text-align: center;
    font-size: 2em;
    padding: .75em 0;
    
    .small { font-weight: normal; }
  }
  
  td.alt, th.alt { background: #efefef; }
  
  ol, ul {
    margin: 0 1.5em;
    padding: 0;
    display: block;
    overflow: hidden;
    
    // Stack from the bottom
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    transform:scaleY(-1);
  }
  
  li {
    list-style-type: none;
    display: block;
    float: left;
    border-radius: 0.65em;
    border: 2px solid #ccc;
    margin: 0.25em;
    font-size: 1.4em;
    width: 3.76923077em;          // * 18px (1.4em) = 68px
    
    // Stack from the bottom
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    transform:scaleY(-1);
    
    a {
      display: block;
      padding: 0.5em;             // * 18px (1.4em) =  9px
      width: 2.76923077em;        // * 18px (1.4em) = 50px
      height: 1.84615385em;       // * 18px (1.4em) = 33px
      
      &:hover { text-decoration: none; }
    }
    
    &.hover {
      border-color: #ed8 !important;
      background-color: #ffffcf !important;
    }
    
    &.placeholder {
      border-style: dotted;
      border-color: #aaa;
      background-color: #fff;
      
      &:hover {
        cursor: pointer;
      }
    }
    
    .add-ticket {
      font-size: 2em;
      vertical-align: middle;
      color: #c0c0c0;
    }
    
    .ticket-number { 
      font-size: 1em;
      color: #333;
      text-align: right;
      font-weight: normal;
      line-height: 1.84615385em;
      position: relative;
      
      .ticket-age {
        font-size: 0.55em;
        line-height: 1em;
        position: absolute;
        left: 0;
        bottom: -0.55em;
        display: block;
        width: 100%;
        white-space: nowrap;
      }
      
      &:before { content: '#'; }
    }
    
    .ticket-summary {
      display: none ;
//      display: inline-block;
//      float: left;
//      max-width: 120px;
//      margin-left: 12px;
//      margin-left: 90px;
    }
    
  }
  
}


.kanban-column.hover { background-color: #ffffcf !important; }
.kanban-column.clickable { cursor: pointer; }


.ticket-badge {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(/images/badges.png);
}
.passing-ticket-badge { background-position: -40px 0px; }
.failing-ticket-badge { background-position:   0px 0px; }
