
.clear { clear: both; }

.breadcrumbs {
  float: left;
}

.page-actions {
  float: left;
  padding: 3px;
  margin-left: 3em;
}

.hidden { 
  display: none !important;
}

dl.grouped-values {
  margin: 0;
  overflow: hidden;
  
  dt { float: left; font-weight: normal; }
  dd { float: right; }
}