
.clear { clear: both; }

.breadcrumbs {
  float: left;
}

.page-actions {
  float: left;
  padding: 3px;
  margin-left: 3em;
}

.hidden { 
  display: none !important;
}

.changes-nested-editor ol {
  margin: 3px 0;
  padding: 0;
  
  li {
    list-style-type: none;
    padding: 2px 0;
  }
}

label input[type="checkbox"] { vertical-align: baseline; }

.nav > .divider { 
  width: 1px;
  background: #181818;
  border-right: 1px solid #3f3f3f;
  height: 40px;
  margin: 0 0.7em 0 0.75em
}

h1 .subtitle {
  font-weight: normal;
  color: #444;
}

h1.space-below { 
  margin-bottom: 1em;
}

.form-actions .btn-delete { float: right; }
