
.clear { clear: both; }

.breadcrumbs {
  float: left;
}

.page-actions {
  float: left;
  padding: 3px;
  margin-left: 3em;
}

.hidden { 
  display: none !important;
}

.changes-nested-editor ol {
  margin: 3px 0;
  padding: 0;
  
  li {
    list-style-type: none;
    padding: 2px 0;
  }
}