.container-fluid { padding: 0 !important; }

h1 small,
.navbar { display: none !important; }

h1 {
  font-size: 2em;

  .space-below { margin-bottom: .5em; }
}

table.tickets {
  td, th {
    padding: 0.15em 1em;
  }

  a {
    font-size: 0.88em;
    color: black !important;
    white-space: nowrap;
  }
}
