.tickets-list .ticket { 
  clear: both; 
  list-style-type: none;
  a { max-width: 685px; }
  
  padding-left: 16px;
  background-image: url(/images/tree-collapsed.png);
  background-position: 0 4px;
  background-repeat: no-repeat;
  
  &.expanded { background-image: url(/images/tree-expanded.png); }
}

.tickets-list { max-width: 800px; }
#testers {
  max-width: 735px;
  height: 4em;
//  overflow: hidden;
}

.tester {
  display: inline-block;
  float: right;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg); /* Opera */
  width: 22px;
  height: 22px;
  position: relative;
  top: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tester-verdicts {
  overflow: hidden;
}

.ticket-verdict-summary {
  text-align: right;
  display: block;
  float: right;
  width: 65px;
  font-weight: bold;
  
  &.pending { opacity: 0.33; }
  &.passing { color: #0a0; }
  &.failing { color: #c11; }
}

.ticket-verdict {
  float: right;
  img { 
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    margin: 2px;
  }
  
  &[data-verdict="pending"] img { opacity: 0.33; }
  &[data-verdict="passing"] img { border-color: #55c832; }
  &[data-verdict="failing"] img { border-color: #ff6d6d; }
}

.ticket-description {
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:#dedede solid 1px;
  list-style: none;
  width: 400px;
  
  &h3 {
    font-size:14px;
  }
}

.testing-note {
  display: block;
  margin: 0.25em 0;
  
  img {
    padding: 0.25em;
    margin-right: 0.5em;
  }
  
  &.works { img { background-color: #55c832; } color: #0a0; }
  &.fails { img { background-color: #ff6d6d; } color: #c11; }
}

.testing-note-form {
  label {
    display: inline-block;
    input { display: inline; }
  }
  p { margin: 0; }
}
