<%= render partial: "projects/header", locals: {project: @project, subtitle: "Pretickets for"} %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#exceptions" data-toggle="tab">
    Exceptions <span id="problem_count" class="badge badge-inverse zero">0</span>
  </a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active hide-completed" id="exceptions">
    <a class="btn" id="show_completed_exceptions" data-toggle="button">Show Completed</a>
    
    <form id="problems_form">
      <table class="table table-sortable table-striped">
        <thead>
          <tr>
            <td class="expcetion-checkbox"></td>
            <th class="exception-summary">Summary</th>
            <th class="exception-first">First Notice</th>
            <th class="exception-last sort-asc">Last Notice</th>
            <th class="exception-count">Count</th>
            <td class="exception-ticket"></td>
          </tr>
        </thead>
        <tbody id="problems"></tbody>
      </table>
    </form>
    
    <% if @project.error_tracker_name == "Errbit" %>
      <div class="buttons">
        <button id="merge_exceptions" class="btn btn-default">Merge</button>
        <button id="unmerge_exceptions" class="btn btn-default">Unmerge</button>
        <button id="delete_exceptions" class="btn btn-danger">Delete</button>
      </div>
    <% end %>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      var problems = <%= raw ProblemPresenter.new(@project, @problems).to_json %>;
      new ProblemsView({
        project: <%= raw @project.slug.to_json %>,
        problems: problems
      }).render();
    });
  </script>
<% end %>
