<div class="release-detail-section release-antecedents">
  <h5>Antecedents</h5>
  <% if antecedents.any? %>
    <ul class="antecedents">
      <% antecedents.each do |antecedent| %>
        <li><%= format_antecedent(antecedent) %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-items">No antecedents were associated with this release.</p>
  <% end %>
</div>
