<h5>Changes</h5>
<% if release.changes.any? %>
  <ul class="changes">
    <% release.changes.each do |change| %>
      <li><%= format_change(change) %></li>
    <% end %>
  </ul>
<% else %>
  <p class="no-items">There no important changes in this release.</p>
<% end %>

<h5>Tickets</h5>
<% if release.tickets.any? %>
  <ul class="tickets">
    <% release.tickets.each do |ticket| %>
      <li><%= link_to_ticket(ticket) %></li>
    <% end %>
  </ul>
<% else %>
  <p class="no-items">No tickets were mentioned in this release.</p>
<% end %>

<h5>Goldmine No.</h5>
<% if release.goldmine_numbers.any? %>
  <ul class="goldmine-numbers">
    <% release.goldmine_numbers.each do |number| %>
      <li><%= number %></li>
    <% end %>
  </ul>
<% else %>
  <p class="no-items">No goldmine numbers were associated with this release.</p>
<% end %>
