<div class="release-changes">
  <% changes.each do |change| %>
    <%= div_for(change) do %>
      <%= render change.tag %>
      <span class="change-summary"><%= format_change(change) %></span>
    <% end %>
  <% end %>
</div>
