<h5>Changes deployed to <%= release.environment.name %></h5>
<ul class="changes">
  <% release.changes.each do |change| %>
    <li><%= format_change(change) %></li>
  <% end %>
</ul>

<h5>Tickets resolved</h5>
<ul class="tickets">
  <% release.tickets.each do |ticket| %>
    <li><%= link_to_ticket(ticket) %></li>
  <% end %>
</ul>
