<% if commits.any? %>
<div class="release-detail-section release-commits">
  <h5>
    Commits
    <% if can?(:read, @project.commits.build) %>
      <span class="commit-range"><%= link_to_release_commit_range(@release) %></span>
    <% end %>
  </h5>
  <ul class="commits">
    <% commits.each do |commit|; commit.project = @project %>
      <%= content_tag :li, :id => "commit_#{commit.id}" do %>
        <%= link_to_commit(commit) if github_url?(@project) && !for_email? && can?(:read, commit) %>
        <%= format_commit(commit) %>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>
