<h1 class="space-below">
  <%= release.project.name %>
  <small>
    Release
    <%= link_to "Show", release_path(release) unless current_page?(release_path(release)) %>
    <%= link_to "Edit", edit_release_path(release) unless current_page?(edit_release_path(release)) %>
  </small>
</h1>
