<%= render partial: "releases/header", locals: {release: @release} %>

<h3><%= @release.name %></h3>

<br />

<%= render partial: "releases/changelog", locals: {release: @release} %>

<br />

<h5>Commits</h5>
<ul class="commits">
  <% @release.commits.each do |commit| %>
    <li><%= format_commit(commit) %></li>
  <% end %>
</ul>
