<% content_for :title do %>
<h1 class="project-banner space-below">
  Providers

  <%= link_to "New Provider", new_oauth_provider_path, class: "btn btn-primary" if can?(:create, Oauth::Provider) %>
</h1>
<% end %>

<div class="nomargin">
  <table id="providers" class="table table-sortable table-striped">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="provider-name">Name</th>
        <th class="provider-site">Site</th>
        <th class="provider-client-id">Client ID</th>
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody>
      <% @providers.each do |provider| %>
        <tr class="provider">
          <td class="table-margin"></td>
          <td class="provider-name"><%= link_to provider.name, edit_oauth_provider_path(provider) %></td>
          <td class="provider-site"><%= provider.site %></td>
          <td class="provider-client-id"><%= provider.client_id %></td>
          <td class="table-margin"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#providers').tablesorter();
    });
  </script>
<% end %>
