.ansi {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin: 0 -20px;
  padding: 20px 20px;

  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #33302c;
  color: #989897;
  
  &, * {
    &::selection { background: #474441; } // WebKit/Blink Browsers
    &::-moz-selection { background: #474441; } // Gecko Browsers
  }
  
  .ansi-bold { font-weight: bold; }
  .ansi-underline { text-decoration: underline; }
  .ansi-black { color: rgb(0, 35, 44); }
  .ansi-red { color: #954c30; }
  .ansi-green { color: #749c49; }
  .ansi-yellow { color: #a9a049; }
  .ansi-blue { color: #5c80a2; }
  .ansi-magenta { color: #6c526c; }
  .ansi-cyan { color: #688f8e; }
  .ansi-white { color: #b8baba; }
  .ansi-bold .ansi-black, .ansi-black .ansi-bold, .ansi-bright-black { color: rgb(66, 66, 66); }
  .ansi-bold .ansi-red, .ansi-red .ansi-bold, .ansi-bright-red { color: #bb653d; }
  .ansi-bold .ansi-green, .ansi-green .ansi-bold, .ansi-bright-green { color: #a8b265; }
  .ansi-bold .ansi-yellow, .ansi-yellow .ansi-bold, .ansi-bright-yellow { color: #cfc266; }
  .ansi-bold .ansi-blue, .ansi-blue .ansi-bold, .ansi-bright-blue { color: #7a9db0; }
  .ansi-bold .ansi-magenta, .ansi-magenta .ansi-bold, .ansi-bright-magenta { color: #8b5c8a; }
  .ansi-bold .ansi-cyan, .ansi-cyan .ansi-bold, .ansi-bright-cyan { color: #aac8ca; }
  .ansi-bold .ansi-white, .ansi-white .ansi-bold, .ansi-bright-white { color: #d2d1cf; }
}
