#daily_report {
  max-width: 880px;
  padding: 0 40px 20px;
  
  h3.heading {
    font-weight: 500;
    font-size: 1.66em;
    color: #333333; // for Gmail
    
    margin-top: 2em;
    border-bottom: 1px solid #bbb;
    
    line-height: 36px;
    vertical-align: top;
    
    img {
      display: inline-block;
      width: 36px;
      height: 36px;
      vertical-align: bottom;
    }
  }
  
  .alert h3 {
    font-size: 1.33em;
    margin: 0.25em 0;
    color: rgb(136, 127, 108);
  }
  
  .ticket-queue {
    display: inline-block;
    border-radius: 3px;
    background-color: #e6e6e6;
    color: #333;
    font-weight: bold;
    padding: 1px 3px;
    margin: 0 6px;
    font-size: 0.88em;
  }
  
  .tickets {
    margin: 0;
    padding: 0;
  }
  
  .ticket {
    display: block;
    margin: 2px 0;
    padding: 0;
  }
  
  .exception {
    display: block;
    margin: 0.25em 0;
    background-color: #efefef;
    color: #555555;
    padding: 1em 1.5em;
    text-decoration: none;
    position: relative;
    min-height: 2em;
    border-radius: 2px;
    
    &:hover {
      background-color: rgb(223, 233, 238);
      text-decoration: none;
    }
    
    .exception-message {
      font-size: 1.25em;
    }
    
    .exception-where {
      margin-top: 0.25em;
      font-weight: 200;
    }
    
    .exception-notice-count { float: right; }
    
    .exception-notice-count .score.score-small { padding-top: 0; }
  }
  
}
