.dashboard {
  background: #191919;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  
  padding: 12px;
  
  h1 {
    color: white;
    font-size: 4em;
    font-weight: 100;
    margin: 0.5em 0 1em 0;
    text-align: right;
  }
  
}
