.dashboard {
  background: #191919;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  
  padding: 12px;
  
  h1 {
    color: white;
    font-size: 4em;
    font-weight: 100;
    margin: 0.5em 0 1em 0;
    text-align: right;
  }
  
  &.coming-soon {
    line-height: 800px;
    font-size: 4em;
    color: #333;
    font-weight: 800;
    text-align: center;
  }
  
  .rickshaw-chart {
    margin: 6px;
    width: 360px;
    height: 180px;
    padding-right: 50px;
    position: relative;
  }
  
  .rickshaw_graph .y_ticks path { stroke: rgba(255, 255, 255, 0.11); } // axis
  .rickshaw_graph .y_ticks text { fill: #999; } // labels
  .rickshaw_graph .y_grid .tick { stroke: rgba(255, 255, 255, 0.08); } // grid
  
  .y-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
  }
}

.flash-message-over {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
  
  &.visible { opacity: 1; }
  
  .inner {
    position: fixed;
    width: 600px;
    height: 300px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    top: 30%;
  }
  
  h1 {
    margin-top: 37px;
    font-weight: bold;
    font-size: 26px;
    color: #444;
  }
  
  h2 {
    font-weight: normal;
    font-size: 18px;
    color: #aaa;
    margin-top: 60px;
  }
  
  .loader_white {
    height: 32px;
    width: auto;
    background: url('/loader_white.gif') no-repeat center center;
    margin-top: 26px;
  }
}

body.full-screen .flash-message-over {
  top: 0;
  z-index: 99999999999;
}
