$completed-background: #E6F3E2;
$completed-foreground: rgb(42, 133, 19);

#exceptions {
  .exception.has-ticket {
    td {
      background: $completed-background;
      color: $completed-foreground;
      a { color: $completed-foreground; }
      .exception-comments { background: #DFECDC; }
    }
    
    .fa-check-sign {
      font-size: 19px;
      color: #666;
    }
  }
  &.hide-completed .exception.has-ticket { display: none; }
  
  .buttons { text-align: center; }
  .exception-summary { max-width: 30em; }
  .exception-message { word-break: break-all; }
  .exception-where {
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
    color: #727272;
  }
  .exception-comments {
    background: #f4f4f4;
    padding: 3px 6px;
    margin-top: 6px;
  }
  .table-striped tbody > tr:nth-child(odd) > td .exception-comments { background: #efefef; }
  .exception-comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    color: #484848;
    
    p { display: inline; }
  }
  .exception-first, .exception-last {
    white-space: nowrap;
  }
  .exception-commit {
    display: block;
    font-family: consolas, fixed;
    font-size: 0.75em;
    line-height: 14px;
  }
  .exception-release {
    display: block;
    font-size: 0.88em;
    line-height: 10px;
  }
  .exception-ticket .ticket-number {
//    font-size: 0.88em;
    font-size: 1.5em;
    font-weight: 100;
  }
}
