#exceptions {
  .exception.has-ticket {
    .icon-check-sign {
      font-size: 19px;
      color: #666;
    }
  }
  
  th { white-space: nowrap; }
  
  .buttons { text-align: center; }
  .exception-summary { max-width: 30em; }
  .exception-message { word-break: break-all; }
  .exception-where {
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
    color: #727272;
  }
  .exception-first, .exception-last {
    white-space: nowrap;
  }
  .exception-commit {
    display: block;
    font-family: consolas, fixed;
    font-size: 0.75em;
    line-height: 14px;
  }
  .exception-release {
    display: block;
    font-size: 0.88em;
    line-height: 10px;
  }
  .exception-ticket .ticket-number {
    font-size: 0.88em;
  }
}
