.followup-greeting {
  font-size: 2em;
}

.followup-narration {
  font-style: italic;
  margin-top: 2em;
}

.followup-narration, .followup-history {
  .detail { font-style: normal; font-weight: bold; color: #666; }
}

.followup-customer {
  margin-left: 2em;
}

.followup-customer-info {
  overflow: hidden;
  line-height: 1.66em;
  
  dt { float: left; clear: left; font-weight: bold; width: 80px; }
  dd { float: left; margin-left: 0; }
}

.followup-notes {
  margin: 1em 0 1em 2em;
  padding: 1.33em 2em;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px 1px #ddd;
  font-size: 1.125em;
  line-height: 1.66em;
  max-width: 60em;
}

ol.followup-history {
  margin: 3em 0 0 0;
  padding: 0 0 0 2em;
  
  li {
    display: block;
    margin: 1em 0;
  }
}
