form.form-horizontal {
  hr { margin: 0; }
  .control-group { margin: 10px 0; }
  .control-group.highlight { background-color: #ffd; }
}

.control-label.optional::after {
  font-weight: normal;
  content: ' (optional)';
  color: #bbb;
}

form.form-horizontal {
  .control-label.optional::after {
    content: '\A(optional)';
    white-space: pre;
  }
}

form.button_to {
  display: inline-block;
  margin: 0;
}

.controls > ul {
  margin: 0 0 5px 0;
  padding: 5px 0 0 0;
  
  li { list-style-type: none; } 
}

@media only screen and (max-width: 600px) {
  form.form-horizontal {
    .control-label { float: none; text-align: left; }
    .controls, .form-actions { padding-left: 0; }
  }
}

.project-feature-fields {
  padding-left: 2.5em;
}

.instructions {
  font-style: italic;
  margin: 10px 0 5px;
}
