.control-group.form-actions {
  h3 { margin: 0; }
  p { margin-bottom: 0.25em; }
}

form.form-horizontal {
  hr { margin: 0; }
  .control-group { margin: 10px 0; }
  .control-group.highlight { background-color: #ffd; }
}

.control-label.optional::after {
  font-weight: normal;
  content: ' (optional)';
  color: #bbb;
}

form.form-horizontal {
  .control-label.optional::after {
    content: '\A(optional)';
    white-space: pre;
  }
}

.controls > ul {
  margin: 0 0 5px 0;
  padding: 5px 0 0 0;
  
  li { list-style-type: none; } 
}
