.control-group.form-actions {
  h3 { margin: 0; }
  p { margin-bottom: 0.25em; }
}

form.form-horizontal {
  hr { margin: 0; }
  .control-group { margin: 10px 0; }
  .control-group.highlight { background-color: #ffd; }
}

.control-label.optional::after {
  content: ' (optional)';
  color: #bbb;
}

form.form-horizontal {
  .control-label.optional::after {
    content: '\A(optional)';
    white-space: pre;
  }
}
