// Successful
$http200: #28384B; // OK - dark substrate for most common cases
$http201: #1B5296; // Created - more vibrant than OK
$http202: #7c979f;
$http203: #a5b8bd;
$http204: #50637A; // No Content - paler than OK
$http205: #ffff00;
$http206: #27839f;

// Redirection
$http300: #ffff00;
$http301: #6fa024;
$http302: #4F8102; // Found
$http303: #87c32b;
$http304: #28b55c;
$http305: #ffff00;
$http307: #a0d84c;

// Client Error
$http400: #b263c6;
$http401: #b92dae;
$http402: #ffff00;
$http403: #f457e8; // Forbidden - bright pink, stands out
$http404: #74086C; // Not Found
$http405: #f47ceb;
$http406: #C0970F; // Not Acceptable - just a little brighter than Unprocessable Entity
$http407: #ffff00;
$http408: #e121d2;
$http409: #e291dc;
$http410: #efacea;
$http411: #ffff00;
$http412: #ffff00;
$http413: #ffff00;
$http414: #ffff00;
$http415: #ffff00;
$http416: #ffff00;
$http417: #ffff00;
$http422: #AF880B; // Unprocessable Entity - orange stands out as exceptional without looking serious

// Server Error
$http500: #bf3613; // Internal Server Error
$http501: #ffff00;
$http502: #d23f14;
$http503: #ea5029;
$http504: #ea5029; // Gateway Timeout - red-orange, warning
$http505: #ffff00;






.dashboard {
  
  .dashboard-container {
    max-width: 1024px;
  }
  
  .project-thumbnail {
    float: left;
    margin: 3em 5em;
    
    h4 {
      text-align: center;
      font-weight: 200;
      font-size: 16px;
      color: #aaa;
      margin: 8px 0 16px 0;
    }
  }
  
  ol.legend {
    position: absolute;
    top: 24px;
    right: 12px;
    font-size: 11px;
    
    li { display: none; text-align: right; color: #444; width: 200px; }
    .status-code.shown { display: block; }
  }
  
  line-height: 1em;
  
  text { 
    fill: white;
    font-size: 8px;
  }
  
  .axis text { fill: #444; }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #292929;
    shape-rendering: crispEdges;
  }
  
  // Gray
  path.line { stroke: #565656; stroke-width: 1.50px; fill: none; }
  path.area { fill: #232323; }
  
  .dashboard-container.blue {
    path.line { stroke: #4A5C72; stroke-width: 1.66px; fill: none; }
    path.area { fill: #1C2630; }
  }
  
  .dashboard-container.gold {
    path.line { stroke: #947D07; stroke-width: 1.00px; fill: none; }
    path.area { fill: #242117; }
  }
  
  .dashboard-container.green {
    path.line { stroke: #4f8102; stroke-width: 1.00px; fill: none; }
    path.area { fill: #18200C; }
  }
  
  // Successful
  rect.status-code-200 { fill: $http200; }
  rect.status-code-201 { fill: $http201; }
  rect.status-code-202 { fill: $http202; }
  rect.status-code-203 { fill: $http203; }
  rect.status-code-204 { fill: $http204; }
  rect.status-code-205 { fill: $http205; }
  rect.status-code-206 { fill: $http206; }
  
  // Redirection
  rect.status-code-300 { fill: $http300; }
  rect.status-code-301 { fill: $http301; }
  rect.status-code-302 { fill: $http302; }
  rect.status-code-303 { fill: $http303; }
  rect.status-code-304 { fill: $http304; }
  rect.status-code-305 { fill: $http305; }
  rect.status-code-307 { fill: $http307; }
  
  // Client Error
  rect.status-code-400 { fill: $http400; }
  rect.status-code-401 { fill: $http401; }
  rect.status-code-402 { fill: $http402; }
  rect.status-code-403 { fill: $http403; }
  rect.status-code-404 { fill: $http404; }
  rect.status-code-405 { fill: $http405; }
  rect.status-code-406 { fill: $http406; }
  rect.status-code-407 { fill: $http407; }
  rect.status-code-408 { fill: $http408; }
  rect.status-code-409 { fill: $http409; }
  rect.status-code-410 { fill: $http410; }
  rect.status-code-411 { fill: $http411; }
  rect.status-code-412 { fill: $http412; }
  rect.status-code-413 { fill: $http413; }
  rect.status-code-414 { fill: $http414; }
  rect.status-code-415 { fill: $http415; }
  rect.status-code-416 { fill: $http416; }
  rect.status-code-417 { fill: $http417; }
  rect.status-code-422 { fill: $http422; }
  
  // Server Error
  rect.status-code-500 { fill: $http500; }
  rect.status-code-501 { fill: $http501; }
  rect.status-code-502 { fill: $http502; }
  rect.status-code-503 { fill: $http503; }
  rect.status-code-504 { fill: $http504; }
  rect.status-code-505 { fill: $http505; }
  
  
  
  // Successful
  .status-code-200 .bubble { background: $http200; }
  .status-code-201 .bubble { background: $http201; }
  .status-code-202 .bubble { background: $http202; }
  .status-code-203 .bubble { background: $http203; }
  .status-code-204 .bubble { background: $http204; }
  .status-code-205 .bubble { background: $http205; }
  .status-code-206 .bubble { background: $http206; }
  
  // Redirection
  .status-code-300 .bubble { background: $http300; }
  .status-code-301 .bubble { background: $http301; }
  .status-code-302 .bubble { background: $http302; }
  .status-code-303 .bubble { background: $http303; }
  .status-code-304 .bubble { background: $http304; }
  .status-code-305 .bubble { background: $http305; }
  .status-code-307 .bubble { background: $http307; }
  
  // Client Error
  .status-code-400 .bubble { background: $http400; }
  .status-code-401 .bubble { background: $http401; }
  .status-code-402 .bubble { background: $http402; }
  .status-code-403 .bubble { background: $http403; }
  .status-code-404 .bubble { background: $http404; }
  .status-code-405 .bubble { background: $http405; }
  .status-code-406 .bubble { background: $http406; }
  .status-code-407 .bubble { background: $http407; }
  .status-code-408 .bubble { background: $http408; }
  .status-code-409 .bubble { background: $http409; }
  .status-code-410 .bubble { background: $http410; }
  .status-code-411 .bubble { background: $http411; }
  .status-code-412 .bubble { background: $http412; }
  .status-code-413 .bubble { background: $http413; }
  .status-code-414 .bubble { background: $http414; }
  .status-code-415 .bubble { background: $http415; }
  .status-code-416 .bubble { background: $http416; }
  .status-code-417 .bubble { background: $http417; }
  .status-code-422 .bubble { background: $http422; }
  
  // Server Error
  .status-code-500 .bubble { background: $http500; }
  .status-code-501 .bubble { background: $http501; }
  .status-code-502 .bubble { background: $http502; }
  .status-code-503 .bubble { background: $http503; }
  .status-code-504 .bubble { background: $http504; }
  .status-code-505 .bubble { background: $http505; }
  
}
