#full_screen_link {
  position: absolute;
  right: 14em;
  top: 78px;
  z-index: 1999;
  cursor: pointer;
}

#auto_update {
  position: absolute;
  right: 5.5em;
  top: 78px;
  z-index: 2100;
  cursor:pointer;
}

#timer_wrapper {
  display: none;
  position: absolute;
  top: 73px;
  right: 1em;
  z-index: 2001;
  width:140px;
  
  #timer { float: left; }
  
  #last_update {
    width:85px;
    float:left;
    padding:3px;
    margin-top:3px;
    line-height:1.1em;
    
    span { font-weight: bold; font-size:1.333em; }
  }
}



body.with-kanban { padding-top: 40px; }

.popover { z-index: 3000; }

.no-feature { font-style:italic; }

#kanban {
  table-layout: fixed;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  
  td { 
    width: 14.2857143%;
    max-width: 14.2857143%;
    vertical-align: bottom;
    text-align: center;
    
    &.kanban-column { font-size: 18px; }
  }
  
  thead th {
    font-size: 1em;
    font-weight: normal;
    padding: 1em 0 0 0;
    
    &.zero { color: rgba(0, 0, 0, 0.25); }
  }
  
  tfoot th { 
    text-align: center;
    font-size: 2em;
    padding: .75em 0;
    line-height: 0.88em;
    vertical-align: top;
    
    div { white-space: nowrap; }
    
    .small {
      display: block;
      font-weight: normal;
      margin: 0.75em 0.75em 0;
      font-size: 0.66em;
      text-align: left;
      line-height: 1.15em;
      
      u {
        text-decoration: none;
        background-color: #FFB;
      }
    }
  }
  
  td.alt, th.alt { background: #efefef; }
  
  ol, ul {
    margin: 0;
    padding: 0 10px 2px 12px; // slighly less padding on the right b/c tickets rarely take up full horizontal width
    display: block;
    overflow: hidden;
    
    // Stack from the bottom
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    transform:scaleY(-1);
  }
  
  li {
    position: relative;
    list-style-type: none;
    display: block;
    float: left;
    border-radius: 0.65em;
    border: 0.1388889em solid #ccc;   // * 18px =  2.5px
    margin: 0.2222222em;              // * 18px =  4px
    
    // Stack from the bottom
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    transform:scaleY(-1);
    
    a {
      display: block;
      padding: 0.5em;                 // * 18px =  9px
      width:  2.7777778em;            // * 18px = 50px
      height: 1.8333333em;            // * 18px = 33px
      
      &:hover { text-decoration: none; }
    }
    
    &.hover {
      border-color: #ed8 !important;
      background-color: #ffffcf !important;
    }
    
    .ticket-number { 
      font-size: 1em;
      color: #333;
      text-align: right;
      font-weight: normal;
      line-height: 1.84615385em;
      position: relative;
      
      .ticket-age {
        font-size: 0.55em;
        line-height: 1em;
        position: absolute;
        left: 0;
        bottom: -0.55em;
        display: block;
        width: 100%;
        white-space: nowrap;
      }
      
      &:before { content: '#'; }
    }
    
    .ticket-summary { display: none; }
  }
  
  .no-age li .ticket-age { display: none !important; }
  .no-number li {
    .ticket-number { display: none !important; }
    
    -webkit-transform:none !important;
    -moz-transform:none !important;
    -ms-transform:none !important;
    transform:none !important;
  }
  .small-border li { border-width: 1px !important; }
  .small-margin li { margin: 1px !important; }
  
}

.full-screen {
  z-index: 2000 !important;
  tfoot .small { display: none !important; }
}

.kanban-column.hover { background-color: #ffffcf !important; }
.kanban-column.clickable { cursor: pointer; }


.ticket-badge {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  
  &, img {
    width: 2.1111111em;           // * 18px = 38px
    height: 2.1111111em;          // * 18px = 38px
  }
  background-repeat: no-repeat;
  z-index: 100;
}
.passing-ticket-badge { background-position: -40px 0px; }
.failing-ticket-badge { background-position:   0px 0px; }

.scale-me {
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  transform-origin:0 0;
}
