.keyboard-shortcuts {
  
  dt {
    float: left;
    clear: left;
    width: 88px;
    text-align: right;
    padding: 4px 0;
  }
  
  dd {
    margin-left: 100px;
    padding: 4px 0;
    line-height: 24px;
  }
  
  .key {
    display: inline-block;
    min-width: 20px;
    padding: 4px 2px;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
    font-size: 11px;
    line-height: 1;
    color: #eee;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 #111;
  }
}
