.markdown, .commit, .testing-note, .ticket-description {
  // formatting for markdown, etc within comments, ticket description
  h1 { font-size: 22px; line-height: 30px; }
  h2 { font-size: 18px; line-height: 23px; }
  h3 { font-size: 15px; line-height: 20px; }
  h4 { font-size: 14px; line-height: 18px; }
  blockquote { border-left: 5px solid #ccc; margin-top: 1em; margin-bottom: 1em; }
  blockquote p { font-size: 14.5px; }

  // so as not to look like project banners
  h1 {
    background: none;
    color: inherit;
    padding: 0;
    margin: 0.25em 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
