
.clear { clear: both; }

.breadcrumbs {
  float: left;
}

// Dismiss alert buttons
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.page-actions {
  float: left;
  padding: 3px;
  margin-left: 3em;
}

.hidden { 
  display: none !important;
}

.controls.row-fluid {
  label { margin: 0; min-height: auto; }
}

.modal > form { margin: 0; }
.wide-modal { width: 720px; margin-left: -360px; }
.modal-header .alert { margin: 10px 0 0 0; }

.icon { font-family: 'FontAwesome'; }

.hidden-text { 
  display: block;
  height: 0;
  width: 0;
  visibility: collapse;
}

.changes-nested-editor ol {
  margin: 3px 0;
  padding: 0;
  
  li {
    list-style-type: none;
    padding: 2px 0;
  }
}

label input[type="checkbox"] { vertical-align: baseline; }

.nav > .divider { 
  width: 1px;
  background: #181818;
  border-right: 1px solid #3f3f3f;
  height: 40px;
  margin: 0 0.7em 0 0.75em
}

.form-actions .btn-delete { float: right; }

.avatar-24 {
  display: inline-block;
  width: 24px;
  margin-right: 0.5em;
}

.avatar-42 {
  display: inline-block;
  width: 42px;
  margin-right: 0.5em;
}

.navbar .nav > li > a.settings-link {
  padding: 8px 4px 0;
}

.nav {
  .avatar {
    width: 34px;
    height: 34px;
    margin: -6px 0 -6px -6px;
    opacity: 0.9;
  }
  
  a:hover .avatar, .dropdown.open .avatar { opacity: 1; }
}

.committer-avatar img {
  border: 2px solid #555;
}

.remember-me {
  line-height: 1em;
  
  label {
    display: inline;
    vertical-align: middle;
  }
}

ol.columns {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.column {
  float: left;
  list-style-type: none;
  display: block;
}

.email-preview {
  opacity: 0.33;
}

.email-form {
  position: absolute;
  width: 300px;
  top: 15%;
  left: 50%;
  margin-left: -174px;
  background: white;
  padding: 18px 24px;
  box-shadow: 0 0 5px #777;
  
  form { margin-bottom: 0; }
}

form {
  .help-inline, label.error { color: #a00; }
  input[type="text"].error { color: #a00; border-color: #a00; }
  select.error { border-color: #a00; }
}

small { font-size: 0.88em; }

// Render .nav pills in one line
.nav-pills > li { 
  float: none; 
  display: inline-block;
}

.inline { 
  display: inline-block;
}

h1 .dropdown .caret {
  margin-top: 16px;
}

h1 .subtitle {
  font-weight: normal;
  color: #444;
}

h1 {
  background: #60615B;
  color: white;
  font-weight: 500;
  padding: .66em .66em .66em 2em;
  margin: -24px 0 1em;
  font-weight: 200;
  font-size: 2em;
  
  -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.25);
  
  .buttons { float: right; }
  
  small {
    font-weight: 100;
    font-size: .75em;
    text-transform: uppercase;
    color: white;
  }
}

.table { border-bottom: 1px solid #dddddd; }

.alert.small-alert {
  font-size: 11px;
  line-height: 11px;
  padding: 7px 10px;
  margin-bottom: 4px;
}

a.refresh-queue {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  
  img.refresh-icon { opacity: 0.12; }
  img.preloader-icon { display: none; }
  
  &:hover {
    color: black;
    img.refresh-icon { opacity: 1; }
  }
  &.in-progress {
    img.refresh-icon { display: none; }
    img.preloader-icon { display: inline; }
  }
}
