
.clear { clear: both; }

.breadcrumbs {
  float: left;
}

.page-actions {
  float: left;
  padding: 3px;
  margin-left: 3em;
}

.hidden { 
  display: none !important;
}

.changes-nested-editor ol {
  margin: 3px 0;
  padding: 0;
  
  li {
    list-style-type: none;
    padding: 2px 0;
  }
}

label input[type="checkbox"] { vertical-align: baseline; }

.nav > .divider { 
  width: 1px;
  background: #181818;
  border-right: 1px solid #3f3f3f;
  height: 40px;
  margin: 0 0.7em 0 0.75em
}

h1 .subtitle {
  font-weight: normal;
  color: #444;
}

h1.space-below { 
  margin-bottom: 1em;
}

.form-actions .btn-delete { float: right; }

.avatar-24 {
  display: inline-block;
  width: 24px;
  margin-right: 0.5em;
}

.avatar-42 {
  display: inline-block;
  width: 42px;
  margin-right: 0.5em;
}

.nav .avatar {
  width: 34px;
  height: 34px;
  margin: 0;
  position: absolute;
  top: 3px;
}

.committer-avatar img {
  border: 2px solid #555;
}

.remember-me {
  line-height: 1em;
  
  label {
    display: inline;
    vertical-align: middle;
  }
}

ol.columns {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.column {
  float: left;
  list-style-type: none;
  display: block;
}

.email-preview {
  opacity: 0.33;
}

.email-form {
  position: absolute;
  width: 300px;
  top: 15%;
  left: 50%;
  margin-left: -174px;
  background: white;
  padding: 18px 24px;
  box-shadow: 0 0 5px #777;
  
  form { margin-bottom: 0; }
}

form {
  .help-inline, label.error { color: #a00; }
  input[type="text"].error { color: #a00; border-color: #a00; }
  select.error { border-color: #a00; }
}

small { font-size: 0.88em; }

a.refresh-queue {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  
  img.refresh-icon { opacity: 0.12; }
  img.preloader-icon { display: none; }
  
  &:hover {
    color: black;
    img.refresh-icon { opacity: 1; }
  }
  &.in-progress {
    img.refresh-icon { display: none; }
    img.preloader-icon { display: inline; }
  }
}
