
.clear { clear: both; }

.breadcrumbs {
  float: left;
}

.page-actions {
  float: left;
  padding: 3px;
  margin-left: 3em;
}

.hidden { 
  display: none !important;
}

.changes-nested-editor ol {
  margin: 3px 0;
  padding: 0;
  
  li {
    list-style-type: none;
    padding: 2px 0;
  }
}

label input[type="checkbox"] { vertical-align: baseline; }

.nav > .divider { 
  width: 1px;
  background: #181818;
  border-right: 1px solid #3f3f3f;
  height: 40px;
  margin: 0 0.7em 0 0.75em
}

h1 .subtitle {
  font-weight: normal;
  color: #444;
}

h1.space-below { 
  margin-bottom: 1em;
}

.form-actions .btn-delete { float: right; }

.avatar-24 {
  display: inline-block;
  width: 24px;
  margin-right: 0.5em;
}

.avatar-42 {
  display: inline-block;
  width: 42px;
  margin-right: 0.5em;
}

.nav .avatar {
  width: 34px;
  height: 34px;
  margin: 0;
  position: absolute;
  top: 3px;
}

.committer-avatar img {
  border: 2px solid #555;
}

.remember-me {
  line-height: 1em;
  
  label {
    display: inline;
    vertical-align: middle;
  }
}

ol.columns {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.column {
  float: left;
  list-style-type: none;
  display: block;
}

.weekly-report {
  max-width: 880px;
}
