.project-tiles {
  .project-tile {
    display: inline-block;
    border-radius: 0.25em;
    padding: 1.5em 2em;
    width: 8em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin: 0.25em;
    font-size: 1.25em;
    font-weight: 200;
    color: black;
    background-color: #efefef;

    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0,1,.96,.64);

    &:hover {
      color: white;
      text-decoration: none;
      transition-property: none;
    }
  }
}
