#project_dashboard {
  
  table { 
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    width: 100%;
  }
  
  td { vertical-align: top; }
  
  .graph.coming-soon {
    border: 3px dotted #2f2f2f;
    color: #888;
    font-weight: 800;
    padding: 4em 8em;
    margin: 2em 0 0 0;
    text-align: center;
    
    .description { font-size: 1.5em; }
    .coming-soon { font-size: 1.25em; color: #444; }
  }
  
  .column-2, .column-3 {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
  }
  
  #project_tickets_by_severity {
    height: 240px;
    vertical-align: middle;
  }
  
  #severities_graph {
    width: 240px;
    height: 240px;
    float: left;
    
    &.placeholder {
      width: 204px;
      height: 32px;
      margin: 18px;
      padding: 86px 0;
      border: 1px solid #2F2F2F;
      border-radius: 600px;
      text-align: center;
      color: #888;
      font-size: 1.25em;
      font-weight: 800;
    }
  }
  
  .severities-legend {
    float: left;
    padding-left: 0 !important;
    font-size: 0.75em;
    color: #555;
    height: 240px;
    display: table;
    
    ol {
      display: table-cell;
      vertical-align: middle;
    }
    
    li {
      display: block;
      white-space: nowrap;
    }
  }
  
  .dependency {
    margin: 6px 12px;
    padding: 0;
    display: inline-block;
    
    &.red { color: #DD3019; }
    &.orange { color: #FC6502; }
    &.yellow { color: #FAE53E; opacity: 0.88; }
    &.spring-green { color: #94C40C; opacity: 0.75; }
    &.green { color: #63DB15; opacity: 0.66; }
  }
  
  .dependency-name {
    display: block;
    font-size: 1.33em;
    font-weight: 800;
    line-height: 0.88em;
  }
  .dependency-version {
    display: block;
    font-size: 4em;
    font-weight: 100;
    line-height: 0.8em;
    
    .period {
      font-family: 'Times New Roman';
      font-size: 0.33em;
    }
  }
  .dependency-message {
    display: block;
    font-size: 0.75em;
    font-weight: 200;
    line-height: 0.75em;
    position: relative;
    top: -1em;
  }
  
  
  #project_ticket_queues {
    margin: 6em 0 0 2em;
    border-collapse: separate;
    border-spacing: 1px;
    width: auto;
    
    td { width: 110px; }
    
    h5 {
      text-align: center;
      font-weight: 500;
      color: #555;
      font-size: 0.75em;
    }
  }
  
  
}

