.environment-name,
.environment-slug,
.environment-initial-commit {
  width: 16em;
  
  small {
    display: block;
    font-size: 0.75em;
    line-height: 1em;
  }
  
  input { width: 15em; }
}

th.project-releases, 
.project-releases li { text-align: right; padding-right: 1.5em; }
.project-environments,
.project-releases,
.project-last-release,
.project-new-release {
  ol {
    padding: 0;
    margin: 0;
    
    li { 
      list-style-type: none;
      display: block;
      line-height: 24px;
    }
  }
}

.project-maintainer {
  white-space: nowrap;
  display: inline-block;
  margin: 1px;
}

th, td {
  &.project-link {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

.stoplight {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  
  &.red { background-color: #B50000; }
  &.yellow { background-color: #D6B21F; }
  &.spring-green { background-color: #9FBD2A; }
  &.green { background-color: #42A800; }
}