#projects {
  th, td {
    vertical-align: middle;
  }
}

h2.uncategorized {
  font-style: italic;
  font-weight: normal;
}

.environment-name,
.environment-slug,
.environment-initial-commit {
  width: 16em;
  
  small {
    display: block;
    font-size: 0.75em;
    line-height: 1em;
  }
  
  input { width: 15em; }
}

th.project-releases, 
.project-releases li { text-align: right; padding-right: 1.5em; }
.project-environments,
.project-releases,
.project-last-release,
.project-new-release {
  ol {
    padding: 0;
    margin: 0;
    
    li { 
      list-style-type: none;
      display: block;
      line-height: 24px;
    }
  }
}

.project-database {
  white-space: nowrap;
  text-indent: 24px;
  background-position: center left;
  background-repeat: no-repeat;
  
  &.database-postgres { background-image: url(/images/postgresql.png); }
  &.database-mysql { background-image: url(/images/mysql.png); }
  &.database-mongodb { background-image: url(/images/mongodb.png); }
//  &.database-postgres::after {
//    margin-left: 2px;
//    content: '.';
//    display: inline-block;
//    height: 24px;
//    width: 24px;
//    line-height: 24px;
//    background-image: url(/images/postgres.png);
//    background-position: center left;
//    background-repeat: no-repeat;
//  }
}

h5.test-result-banner { border-radius: 3px; }

.test-result-banner.pending {
  background: rgba(0, 0, 0, 0.02);
  border: 2px dotted #bbb;
}

.test-run-commit { font-size: 0.75em; }

td.project-maintainers .hidden-text { display: inline-block; }

.project-maintainer {
  white-space: nowrap;
  display: inline-block;
  margin: 1px;
}

.inline-label { 
  display: inline;
  display: inline-block;
  
  input[type="image"], input[type="checkbox"], input[type="radio"] { margin: 0; }
}

th, td {
  &.project-unfuddle-link {
    padding-right: 2px !important;
  }
  &.project-errbit-link {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  &.project-github-link {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  &.project-newrelic-link {
    padding-left: 2px !important;
  }
}

.project-platform { white-space: nowrap; }
