h4.github-repo {
  margin: 1.33em 0 0.66em;
  font-weight: 500;

  .pull-requests-count { vertical-align: middle; }
}

ul.pull-requests { margin: 0; }

.pull-request {
  list-style-type: none;
  display: block;
  margin: 0;
  line-height: 24px;

  &.back-burner a {
    color: #c9c9c9;

    .pull-request-author { opacity: 0.16; }
    .pull-request-number { color: #d6d6d6; }
    .pull-request-age { color: #d6d6d6; }
  }

  a {
    display: block;
    padding: 0.33em 0;

    &:hover {
      text-decoration: none;
      background: #EDF9FF;
      color: #005580;

      .pull-request-author { opacity: 1.0; }
      .pull-request-number { color: #6C8592; }
      .pull-request-age { color: #AABCC5; }
    }
  }
}

.pull-request-number {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 2.5em; // enough room for 4 digits (i.e. 9999 pull requests)
  font-size: 1.66em;
  font-weight: 100;
  color: #777;
}

.pull-request-author {
  vertical-align: middle;
  margin-left: 0.25em;
  width: 24px;
  height: 24px;
}

.pull-request-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25em;
}

.pull-request-age {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  color: #c9c9c9;
}
