.callout {
  h3 { margin-bottom: 0; }
  .text_field { width: 8em; }
}

.collapsed {
  display: none;
  overflow: hidden;
}

.release-form {
  .change-tag, .change-description { box-sizing: border-box; padding-right: 8px; }
  .change-tag select { width: 100%; }
  .change-tag .help-inline { display: none; }
  .change-description input { width: 100%; box-sizing: border-box; height: 30px; }
  
  .release-detail-section > .controls { max-width: 920px; }
  
  textarea#release_message {
    width: 46em;
    height: 80px;
  }
  
  #new_ticket_field { width: 36em; }
  
  .controls > ul { margin-left: 0; }
  .controls > p.no-items { margin-left: 0; }
  .controls > p.expander {
    a { color: #777; }
    
    &.optional::after {
      content: ' (optional)';
      color: #bbb;
    }
  }
  
  .control-label {
    font-weight: bold;
    color: #777;
  }
  
  .release-tickets table, .release-antecedents ul, .release-commits ul {
    max-width: 680px;
    margin: 5px 0;
  }
  
  .release-tickets {
    td { vertical-align: top; }
    
    .release-ticket-number {
      font-size: 0.88em;
      text-align: right;
      padding-right: 0.5em;
    }
  }
}
