.change-description input {
  width: 40em;
}

.commits {
  font-size: 0.88em;
  line-height: 1em;
}

.controls > ul {
  margin: 0 0 5px 0;
  padding: 5px 0 0 0;
  
  li { list-style-type: none; } 
}

textarea#release_message {
  width: 100%;
  height: 120px;
}

.release-message {
  margin: 1.5em;
}

.release-detail {
  line-height: 1.5em;
  
  h5 {
    float: left;
    clear: left;
    width: 88px;
    margin: 20px 0 0 0;
  }
  
  p, ul {
    float: left;
    margin: 20px 0 0 0;
    
    li {
      list-style-type: none;
    }
  }
}
