$completed-background: #E6F3E2;
$completed-foreground: rgb(42, 133, 19);

.sprint-total-effort {
  float: right;
  margin-bottom: 12px;
}

.task-project { white-space: nowrap; }

#add_task {
  width: 48em;
  margin-bottom: 0;
  padding: 0.5em 1em;
}
#add_task_form .icon-spinner { display: none; }
#add_task_form.loading .icon-spinner { display: inline-block; }

.shaded-chart {
  height: 260px;
  margin: -2em -20px 2em;
  padding: 2em;
  background: #efefef;
}

h2.light {
  font-weight: 200;
  display: inline-block;
  margin: 0;
}

#sprint_view {
  
  #lock_sprint_button, #show_completed_tasks {
    margin-bottom: 12px;
  }
  
  &.hide-completed .task-completed { display: none; }
  .task-completed {
    background: $completed-background;
    color: $completed-foreground;
    a { color: $completed-foreground; }
  }
  
  .task-worker button { white-space: nowrap; }
}

.remove-task-button {
  color: #e0e0e0;
  display: inline-block;
  cursor: pointer;
  
  &::after {
    content: '\f056';
    font-family: 'FontAwesome';
    font-size: 1.5em;
  }
  
  &:hover {
    color: #E52F26;
    text-decoration: none;
  }
}
