.sprint-total-effort {
  float: right;
  margin-bottom: 12px;
}

.task-project { white-space: nowrap; }

#add_task {
  width: 48em;
  margin-bottom: 0;
  padding: 0.5em 1em;
}

#add_task_form, .icon-spinner, .task-remove { display: none; }
.edit-mode {
  #add_task_form { display: block; }
  .task-remove { display: table-cell; }
} 
#add_task_form.loading .icon-spinner { display: inline-block; }
