.table {
  td, th {
    padding: 6px 8px;
    vertical-align: middle;
  }
  td {
    border-top: none;
    border-bottom: 4px solid white;
  }
  th {
    white-space: nowrap;
  }
}

th.vertical {
  width: 28px;
  max-width: 28px;
  padding: 4px 0;
  white-space: normal;

  > span {
    display: block;
    writing-mode: tb-rl;
    filter: flipv fliph;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -moz-transform: rotate(-90deg); /* Firefox */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -o-transform: rotate(-90deg); /* Opera */
    width: 3em;
    text-overflow: ellipsis;
    white-space: nowrap;

    position: relative;
    left: -7px;
    top: -15px;
  }
}

tr.selected > td { background-color: #ffe; }
.table-striped tbody > tr.selected:nth-child(odd) > td { background-color: #ffd; }
.table-expandable, .table-hoverable {
  tbody td { cursor: pointer; }
  tbody > tr:hover td { background-color: rgba(128, 212, 255, 0.1); }
}
.table.table-expandable {
  td, th {
    border-top: 1px solid #ddd;
    border-bottom: none;
  }

  tbody > tr {
    cursor: pointer;

    &.expanded {
      td {
        color: #eee !important;
        border-top: 2px solid #222 !important;
        background-color: #505050 !important;

        a:hover { color: rgb(2, 160, 240); }
        .label-inverse { background-color: black; }
      }
    }

    &.expansion {
      td {
        border-top: none;
        border-bottom: 2px solid #222;
        background-color: #505050;
      }
    }
  }
}
