h1 img {
  float: left;
  margin: 0 0.5em 0 0;
}

.tester-ticket-list {
  margin: 3em 0 6em;
  
  ul {
    margin: 0;
    padding: 0 4em 0 0;
  }
  
  li {
    list-style-type: none;
    display: block;
    line-height: 1.5em;
    padding-left: 1.5em;
    text-indent: -1.5em;
  }
  
  .span4 {
    position: relative;
  }
}
