
.nomargin { margin: 0 -20px; }

#testing_report {
  .avatar { border-radius: 0; }
}

.testing-report-table {
  margin-bottom: 4em;

  th {
    font-weight: bold;
    text-align: left;
    height: 7.5em;

    &.ticket-participants {
      padding: 0 0 8px 0;

      &::after {
        display: inline-block;
        width: 28px;
        text-align: center;
      }
    }
  }

  td { vertical-align: top; }

  tbody {
    tr.passing td {
      background-color: rgba(26, 223, 18, 0.18);
      color: rgb(70, 156, 44);
      color: rgba(70, 156, 44, 0.66);

      &.ticket-due-date { text-decoration: line-through; }
      .label-inverse { background-color: rgb(70, 156, 44); }
    }
    tr.failing td {
      background-color: rgba(223, 92, 18, 0.18);

      &.ticket-summary { color: #B50000; }
      .label-inverse { background-color: #B50000; }
    }
    tr.expanded td {
      &.ticket-due-date { text-decoration: none; }
    }
    tr.deleting { opacity: 0.2 !important; }
  }

  .ticket-project { white-space: nowrap; font-weight: bold; }
  .ticket-due-date { white-space: nowrap; }
  td.ticket-due-date { color: #B50000; font-size: 0.8333em; }
  .ticket-participants {
    width: 28px;
    max-width: 28px;
    padding: 4px 0;

    &.current-tester { font-weight: bold; }
  }
}

.tester-verdicts { overflow: hidden; }

.tester-avatar,
.committer-avatar {
  display: block;
  margin: 1px;

  img {
    background-color: white;
    border: 2px solid black;
  }
}

.ticket-verdict {
  display: block;
  margin: 1px;

  img {
    background-color: white;
    margin: 2px;
    opacity: 0.15;
  }

  &.current-tester img { opacity: 0.60; }

  &[data-verdict="passing"] img { opacity: 1.0; margin: 0; border: solid 2px #55c832; }
  &[data-verdict="comment"] img { opacity: 1.0; margin: 0; border: solid 2px #777777; }
  &[data-verdict="badticket"] img { opacity: 1.0; margin: 0; border: solid 2px #FFF51D; }
  &[data-verdict="failing"] img { opacity: 1.0; margin: 0; border: solid 2px #ff3030; }
}

.testing-notes {
  display: block;
  max-width: 600px;
  margin-bottom: 2em;

  &.collapse { display: none; }

  .commit, .testing-note, .ticket-description {
    display: block;
    position: relative;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    clear: both;

    .testing-note-timestamp { line-height: 1em; color: #333; display: block; font-size: 0.88em; }
  }

  .ticket-description {
    background: #e9e9e9;
    border-color: #777777;
    margin: 0.5em 0;
    word-wrap: break-word;
    color: #333;

    hr { border-top-color: #ccc; }
  }

  .commit, .testing-note {
    margin: 0.5em 60px 0.5em 40px;

    .tester-avatar,
    .committer-avatar {
      float: left;
      position: relative;
      left: -57px;
      margin-right: -40px;
      background-color: white;
    }

    &::before {
      content: '';
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;

      top: 19px;
      bottom: auto;
      border-top-color: transparent;
      border-bottom-color: transparent;

      left: -12px;
      right: auto;
      border-width: 8px 12px 8px 0;
    }

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;

      top: 21px;
      bottom: auto;
      border-top-color: transparent;
      border-bottom-color: transparent;

      left: -7px;
      right: auto;
      border-width: 6px 9px 6px 0;
    }
  }

  .commit {
    background: #e9e9e9;
    border-color: #222;

    &::before {
      border-left-color: #222;
      border-right-color: #222;
    }

    &::after {
      border-left-color: #e9e9e9;
      border-right-color: #e9e9e9;
    }
  }

  .testing-note {
    background-color: white;

    &::after {
      border-left-color: white;
      border-right-color: white;
    }

    &.by-tester {
      margin: 0.5em 40px 0.5em 60px;

      &::before {
        left: auto;
        right: -12px;
        border-width: 8px 0 8px 12px;
      }

      &::after {
        left: auto;
        right: -7px;
        border-width: 6px 0 6px 9px;
        border-color: transparent white;
      }

      .tester-avatar {
        float: right;
        position: relative;
        left: 60px;
        margin-right: auto;
        background-color: white;
      }
    }

    textarea {
      width: 80%;
      height: 80px;
    }

    &.works { img { border-color: #0a0; } color: #0a0; }
    &.fails { img { border-color: #c11; } color: #c11; }
    &.badticket { img { border-color: #F5ED28; } color: #F5ED28; .tester-comment, form { color: #333; } }
    &.none { img { border-color: #777777; } color: #777777; }
  }
}


.testing-note {

  // no style when verdict is 'none'
}

.testing-note-form {
  margin-bottom: 0;
  label {
    display: inline-block;

    input {
      display: inline;
      margin: 0;
    }
  }
  p { margin: 0; }
}

.reopen-button { color: #888; }
.close-button { color: #888; &.btn-success { color: white; } }

.table td.ticket-testingPriority {
  padding: 0;
  .fa-arrow-up   { padding: 12px 2px 12px 8px; display: inline-block; }
  .fa-arrow-down { padding: 12px 8px 12px 2px; display: inline-block; }
}

.table thead td {
  vertical-align: bottom;
  border-bottom: 4px solid transparent;
}

td.ticket-testingPriority { white-space: nowrap; }


.ticket-priority-low .ticket-testingPriority .fa-arrow-down { color: #239ce7 !important; }
.ticket-priority-high .ticket-testingPriority .fa-arrow-up { color: #e74c23 !important; }
thead .ticket-testingPriority { color: #ccc; }
tbody .ticket-testingPriority {
  i, a { color: rgba(0, 0, 0, 0.04); }
  a:hover {
    text-decoration: none;
    cursor: pointer;

    &.fa-arrow-down { color: rgba(35, 156, 231, 0.6); }
    &.fa-arrow-up { color: rgba(231, 76, 35, 0.6); }
  }
}
