@mixin badge-style($color) {
  background-color: $color;
  -moz-box-shadow: 0 0 0.22em $color;
  -webkit-box-shadow: 0 0 0.22em $color;
  box-shadow: 0 0 0.22em $color;
}

h2.test-result-banner {
  font-size: 7em; // ~90px
  border-radius: 12px;
}

.test-result-credit {
  margin-top: 48px;
  background-color: #ffc;
  font-weight: 200;
  
  margin: 48px -48px;
  padding: 16px 64px;
  
  p {
    font-size: 1.5em;
    margin: 0;
    
    .test-result-committer { font-weight: 800; }
    img { width: 1em; height: 1em; }
  }
}

.test-result-banner {
  display: inline-block;
  width: 4em;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: white;
  margin: 0 0.2em;
  padding: 0;
  
  &.pass  { @include badge-style(#5DB64C); letter-spacing: 0.088em; } // grass
  &.fail  { @include badge-style(#E24E32); letter-spacing: 0.160em; } // tomato
  
  a {
    display: block;
    height: 100%;
    width: 100%;
    color: white !important;
    text-decoration: none !important;
  }
}

.tests-detail {
  margin-top: 48px;
  padding-left: 12px;
  border-top: 1px solid #e6e6e6;
  
  margin-bottom: 48px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  
  font-size: 15px;
  line-height: 1.38em;
  
  .tests {
    margin: 0;
    padding: 0;
  }
  
  .test {
    display: block;
    margin: 0;
    padding: 0.18em 0 0.18em 5.25em;
    text-indent: -4em;
    
    &.fail  { background-color: rgb(253, 233, 229); }
    &.error { background-color: rgb(252, 247, 207); }
    &.skip  { }
  }
  
  .test-suite-name {
    padding: 0;
    margin: 1.5em 0 0.75em 0;
    font-size: 1em;
    font-weight: 500;
    color: #686868;
  }
  
  .test-duration {
    font-size: 0.88em;
    color: #aaa;
    white-space: nowrap;
  }
  
  .test-backtrace {
    font-size: 0.88em;
    margin: 0.5em 0;
    padding: 0 0 0 2em;
  }
  
  .test-backtrace-line {
    list-style-type: none;
    text-indent: -2em;
    line-height: 1.18em;
    padding: 0.18em 0;
  }
}

.test-status {
  display: inline-block;
  width: 4em;
  text-transform: uppercase;
  border-radius: 2px;
  color: white;
  font-weight: 800;
  text-indent: 0;
  
  &.pass  { color: #5DB64C; } // grass
  &.fail  { color: #E24E32; } // tomato
  &.error { color: #DFCC3D; }
  &.skip  { }
}
