.testing-report-project-title {
  margin: 2em 0 8px 0;
  
  &:first-child { margin-top: 0; }
}

.tickets-list .ticket { 
  clear: both; 
  list-style-type: none;
  line-height: 26px;
  
  padding-left: 16px;
  background-position: 0 7px;
  background-repeat: no-repeat;
}

ul.tester-names { 
  > li { 
    list-style-type: none;
    padding-left: 16px;
  }
  #testers {
    height: 4em; 
    margin-left: 0;
  }
}

.testing-report-project {
  position: relative;
  max-width: 825px;
}

.tickets-testing-progress {
  position: absolute;
  right: -94px;
  top: 4px;
  width: 70px;
  height: 70px;
}


.tester-names, .tickets-list { max-width: 800px; }

.tester {
  display: inline-block;
  float: right;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg); /* Opera */
  width: 32px;
  height: 24px;
  line-height: 32px;
  position: relative;
  top: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tester-verdicts { overflow: hidden; }

.ticket-verdict-summary {
  text-align: left;
  display: block;
  float: right;
  width: 65px;
  font-weight: bold;
  padding-left: .5em;
  
  &.pending { opacity: 0.33; }
  &.passing { color: #0a0; }
  &.failing { color: #c11; }
}

.ticket-verdict {
  float: right;
  
  img { 
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    margin: 1px;
  }
  
  &[data-verdict="pending"] img { opacity: 0.33; }
  &[data-verdict="passing"] img { border-color: #55c832; }
  &[data-verdict="failing"] img { border-color: #ff3030; }
}

.testing-notes {
  .commit, .testing-note, .ticket-description {
    display: block;
    position: relative;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    clear: both;
    
    .testing-note-timestamp { line-height: 1em; color: #333; display: block; font-size: 0.88em; }
    
    // formatting for markdown, etc within comments, ticket description
    h1 { font-size: 22px; line-height: 30px; }
    h2 { font-size: 18px; line-height: 23px; }
    h3 { font-size: 15px; line-height: 20px; }
    h4 { font-size: 14px; line-height: 18px; }
  }
  
  .ticket-description {
    background: #e9e9e9;
    border-color: #a8a8a8;
    margin: 0.5em 0;
  }
  
  .commit, .testing-note {
    margin: 0.5em 60px 0.5em 40px;
    
    .tester-avatar,
    .committer-avatar {
      float: left;
      position: relative;
      left: -57px;
      margin-right: -40px;
    }
    
    &::before {
      content: '';
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
      
      top: 19px;
      bottom: auto;
      border-top-color: transparent;
      border-bottom-color: transparent;
      
      left: -12px;
      right: auto;
      border-width: 8px 12px 8px 0;
    }
    
    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
      
      top: 21px;
      bottom: auto;
      border-top-color: transparent;
      border-bottom-color: transparent;
      
      left: -7px;
      right: auto;
      border-width: 6px 9px 6px 0;
    }
    
    img {
      border-style: solid;
      border-width: 2px;
    }
  }
  
  .commit {
    background: #e9e9e9;
    border-color: #a8a8a8;
    
    &::before {
      border-left-color: #a8a8a8;
      border-right-color: #a8a8a8;
    }
    
    &::after {
      border-left-color: #e9e9e9;
      border-right-color: #e9e9e9;
    }
  }
  
  .testing-note {
    &::after {
      border-left-color: white;
      border-right-color: white;
    }
    
    &.by-tester {
      margin: 0.5em 40px 0.5em 60px;
      
      &::before {
        left: auto;
        right: -12px;
        border-width: 8px 0 8px 12px;
      }
      
      &::after {
        left: auto;
        right: -7px;
        border-width: 6px 0 6px 9px;
        border-color: transparent white;
      }
      
      .tester-avatar {
        float: right;
        position: relative;
        left: 60px;
        margin-right: auto;
      }
    }
    
    textarea {
      width: 80%;
      height: 80px;
    }
    
    &.works { img { border-color: #0a0; } color: #0a0; }
    &.fails { img { border-color: #c11; } color: #c11; }
    &.none { img { border-color: #666; } color: #666; }
  }
}


.testing-note {
  
  // no style when verdict is 'none'
}

.testing-note-form {
  margin-bottom: 0;
  label {
    display: inline-block;
    input { display: inline; }
  }
  p { margin: 0; }
}

