@mixin badge-style($color) {
  background-color: $color;
  -moz-box-shadow: 0 0 0.22em $color;
  -webkit-box-shadow: 0 0 0.22em $color;
  box-shadow: 0 0 0.22em $color;
}

.ticket-view {
  max-width: 960px;
  margin: 0 auto;

  .ticket-header {
    position: relative;

    > h2 {
      margin: 0 0 0 104px;
    }

    &::after {
      content: '.';
      clear: both;
      color: transparent;
      display: block;
      height: 1em;
    }

    .ticket-tracker-link {
      position: absolute;
      right: 1.5em;
      bottom: 0.5em;
    }
  }

  .ticket-number {
    display: block;
    font-size: 0.9em;
    text-align: right;
    font-weight: 400;
    font-weight: 200;
    color: #ccc;

    position: absolute;
    width: 96px;
    left: 0;
    top: -1px;
  }

  .ticket-state-position {
    position: absolute;
    width: 96px;
    text-align: right;
    top: 35px;
  }

  .ticket-state {
    color: white;
    padding: 2px 6px;
    display: inline-block;

    border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;

    &::before {
      font-family: FontAwesome;
    }

    &.open {
      background: #5DB64C; // grass
      &::before { content: '\f10c'; }
      &::after { content: ' Open'; }
    }
    &.closed {
      background: #E24E32; // tomato
      &::before { content: '\f05e'; }
      &::after { content: ' Closed'; }
    }

    &.hover {
      cursor: pointer;

      &.open {
        background: #999;
        &::before { content: '\f05e'; }
        &::after { content: ' Closed'; }
      }
      &.closed {
        background: #999;
        &::before { content: '\f10c'; }
        &::after { content: ' Open'; }
      }
    }
  }


  .ticket-summary {
    display: block;
    font-weight: 200;
    font-size: 1em;
    line-height: 1.136em;
    position: relative;
    left: -6px;

    // To style the plaintext like the input
    .show { padding: 4px 7px; }

    input {
      margin: 0 0 2px 0;
      font-size: 1em;
      height: 1em;
      font-weight: 200;
      width: 100%;
    }
  }
  .ticket-reporter {
    margin: 0 0 0 104px;
    padding: 0 0 0 2px;
    line-height: 16px; // height of avatar
    white-space: nowrap;
  }
  .ticket-opened {
    color: #bfbfbf;
    font-weight: 500;
  }

  hr { margin: 0 0 1em; }

  .ticket-description {
    .show { min-height: 1em; }
    &.hover .show { background: #ffd; }

    textarea {
      box-sizing: border-box;
      width: 100%;
      min-height: 10em;
    }
  }

  .task-frame {
    h4 {
      font-weight: 500;
      margin: 0 0 1em 0;
    }
  }

  .buttons { text-align: right; }

  .editable {
    .edit { display: none; }

    &.in-edit {
      .show { display: none; }
      .edit { display: block; }
    }
  }
}
