#sync_tickets_button {
  color: #333;
  padding: 6px;
  display: block;
  position: absolute;
  top: 14px;
  right: 36px;
  white-space: nowrap;
  cursor: pointer;
  
  i {
    display: inline-block;
    font-size: 18px;
    line-height: 23px;
    vertical-align: middle;
  }
  
  &.working {
    i {
      -moz-animation: spin 1.5s infinite linear;
      -o-animation: spin 1.5s infinite linear;
      -webkit-animation: spin 1.5s infinite linear;
      animation: spin 1.5s infinite linear;
    }
  }
  
  &:hover {
    text-decoration: none;
  }
  
  .ticket-tracker-last-sync { 
    display: inline-block;
    .time-date { display: block; font-size:  9px; line-height: 1em; font-weight: 400; }
    .time-time { display: block; font-size: 14px; line-height: 1em; font-weight: 200; }
  }
}
