.users {
  margin: 1em .5em 3em 0;
  padding: 0;
}

.user {
  display: inline-block;
  list-style-type: none;
  margin: 1em .25em 1em;
  overflow: hidden;
  width: 420px;
  
  padding: 12px;
  border-radius: 4px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  
  .user-avatar {
    float: left;
    margin: -1em 1em -1em -1em;
    padding: 1em;
    border-right: 1px solid #E1E1E8;
    background: white;
    display: block;
  }
  
  .score { 
    p {
      margin: 0 0 0 6px;
      width: auto;
      min-width: 48px;
    }
    
    .google-chart { margin: -8px -8px -8px 0; }
  }
}

.stats-fresh-date { 
  float: right;
  font-weight: normal;
}
