.weekly-report {
  max-width: 880px;
  padding: 20px 40px;
  
  p { margin-top: 0; margin-bottom: 0; }
  
  h5 {
    margin-top: 0.25em;
    text-align: center;
  }
  
  h1.weekly-report-heading {
    font-weight: normal;
    font-size: 52px; // for Gmail (4em)
    line-height: .66em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #333333; // for Gmail
    
    .subtitle {
      display: block;
      font-size: 17px; // for Gmail (.33em)
      font-weight: 400;
      color: #333333; // for Gmail
    }
  }
  
  .disabled {
    color: #999;
  }
  
  
  h3.heading {
    font-weight: bold;
    font-size: 2.25em;
    color: #333333; // for Gmail
    
    margin-top: 2em;
    border-bottom: 1px solid #bbb;
    
    line-height: 48px;
    vertical-align: top;
    
    img {
      display: inline-block;
      width: 48px;
      height: 48px;
      vertical-align: bottom;
    }
  }
  
  
  .weekly-report-body {
    margin-top: 12px;
    padding-left: 54px;
  }
  
  
  table {
    width: 100%;
    margin-bottom: 1em;
    
    &.layout { margin-bottom: 6em; }
    &.bugs { margin-bottom: 3em; }
    
    &.no-bottom-margin { margin-bottom: 0; }
    
    &.commits, &.testing-notes {
      thead th {
        text-align: left;
        width: 80px;
        padding: .5em .75em;
        color: #333333; // for Gmail
        font-size: 0.88em;
        line-height: 1.15em;
      }
      
      td {
        vertical-align: top;
        padding: .25em .75em .75em .75em;
        line-height: 9px;
      }
      
      .weekend {
        background-color: #efefef;
      }
    }
    
    &.bugs, &.performance-report, &.tickets-report {
      
      td {
        padding: .75em 0;
      }
      
      tbody th {
        text-align: left;
        width: 10em;
        padding-right: 1em;
        font-weight: normal;
        
        .label {
          
          // This is the stuff from bootstrap
          // It's here because not all the bootstrap
          // stuff gets rendered in the Weekly Report
          // email; but this does.
          
          // padding: 1px 4px 2px;
          font-size: 10.998px;
          font-weight: bold;
          line-height: 13px;
          color: white;
          vertical-align: middle;
          // white-space: nowrap;
          // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          // background-color: #999;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          
          /// bootstrap overrides
          padding: 3px 7px 4px;
          text-shadow: none;
          white-space: normal;
          
          max-width: 9em;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    
    &.tickets-report tbody th {
      padding-right: 4em;
    }
  }
  
  
  b.commit, b.testing-note-bubble {
    display: inline-block;
    width: 14px;
    height: 13px;
    margin: 1px;
    border-radius: 2px;
  }
  
  
  .column {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
  
  
  .bug {
    margin: -2px -4px;
    display: inline-block;
    width: 24px;
    
    &.open-bug { opacity: 0.10; }
  }
  
  
  .pie-graph {
    padding: 0 !important;
  }
  
  
  .score {
    color: #333333; // for Gmail
    text-align: right;
    
    .no-bugs {
      color: #42A800;
      font-weight: 100;
      font-size: 1.5em;
      width: auto !important;
      margin: 0.5em 0;
    }
    
    .testing-note-fails, .new-bugs {
      color: #B50000;
    }
    
    .testing-note-passes, .resolved-bugs, .ticket-count-closed  {
      color: #42A800;
    }
    
    .new-bugs, .resolved-bugs, .ticket-count-new, .ticket-count-closed {
      &.zero {
        color: #dddddd !important;
      }
    }
  }
  
  
  
  table.exceptions-report {
    max-height: 200px;
    margin-bottom: 3em;
  }
  
  .notices-count {
    font-size: 4em;
    display: block;
    font-weight: 100;
    line-height: .88em;
  }
  
  .notices-by-project-pie {
    width: 108px;
    height: 108px;
    border-radius: 60px;
    border: 1px solid #ccc;
    line-height: 108px;
    text-align: center;
  }
  
  .exceptions-notices-count {
    height: 108px;
    padding: 0 0 0 18px;
    
    .score {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }
  
  .exceptions-notices-pie {
    width: 108px;
    padding: 0 12px 0 0;
  }
  
  .exceptions-notices-history {
    padding: 4px 0 0 0;
    vertical-align: bottom;
  }
  
  .exceptions-problem-count {
    padding: 0 0 0 12px;
    vertical-align: bottom;
    
    img { 
      position: relative;
      top: 6px;
    }
  }
  
  .exceptions-summary { 
    width: 108px;
    text-align: center;
  }
  
  .exceptions-bugs-summary-group {
    display: inline-block;
  }
  
  .exceptions-bugs-summary {
    font-size: 2.5em;
    font-weight: 100;
    text-align: right;
    
    .sign {
      font-size: 0.5em;
      vertical-align: top;
    }
    
    &.new-bugs,
    &.resolved-bugs {
      margin: 0 0 4px 0;
    }
    
    &.positive { color: #B50000; }
    &.negative { color: #42A800; }
    
    &.total-bugs {
      border-radius: 60px;
      -webkit-box-shadow: inset 0 0 3px #aaaaaa;
      font-size: 7em;
      text-align: center;
      height: 102px;
      line-height: 102px;
      padding: 0 6px;
      width: 90px;
      position: relative;
      
      img {
        position: absolute;
        left: -4px;
        top: -1px;
        opacity: 0.25;
        width: 112px;
        height: 112px;
      }
      
      &.zero { color: #ccc; }
      &.zero img { opacity: 0.15; }
      
// fixed size of box shadow
//      &.positive { 
//        -webkit-box-shadow: inset 0 0 7px #B50000;
//      }
//      &.negative { 
//        -webkit-box-shadow: inset 0 0 7px #42A800;
//      }

// put number in body of bug
//      font-size: 5em;
//      line-height: 135px;

// make number bolder
//      .bug-count { font-weight: 200; }
    }
    
    img {
      display: inline-block;
      padding-bottom: 8px;
    }
  }
  
  
  
  
  
}

.severities-legend {
  vertical-align: middle;
  padding-left: 5em !important;
  
  h5 { text-align: left; padding-bottom: 0.5em; }
  ol { padding: 0; margin: 0; }
  li { list-style-type: none; }
}
