.weekly-report {
  max-width: 880px;
  padding: 20px 40px;
  
  h5 {
    margin-top: 0.25em;
    text-align: center;
  }
  
  h1.weekly-report-heading {
    font-weight: normal;
    font-size: 52px; // for Gmail (4em)
    line-height: .66em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #333333; // for Gmail
    
    .subtitle {
      display: block;
      font-size: 17px; // for Gmail (.33em)
      font-weight: 400;
      color: #333333; // for Gmail
    }
  }
  
  .disabled {
    color: #999;
  }
  
  
  h3.heading {
    font-weight: bold;
    font-size: 2.25em;
    color: #333333; // for Gmail
    
    margin-top: 2em;
    border-bottom: 1px solid #bbb;
    
    line-height: 48px;
    vertical-align: top;
    
    img {
      display: inline-block;
      width: 48px;
      height: 48px;
      vertical-align: bottom;
    }
  }
  
  
  .weekly-report-body {
    margin-top: 12px;
    padding-left: 54px;
  }
  
  
  table {
    width: 100%;
    margin-bottom: 1em;
    
    &.layout { margin-bottom: 6em; }
    &.bugs { margin-bottom: 3em; }
    
    &.no-bottom-margin { margin-bottom: 0; }
    
    &.commits, &.testing-notes {
      thead th {
        text-align: left;
        width: 80px;
        padding: .5em .75em;
        color: #333333; // for Gmail
        font-size: 0.88em;
        line-height: 1.15em;
      }
      
      td {
        vertical-align: top;
        padding: .25em .75em .75em .75em;
        line-height: 9px;
      }
      
      .weekend {
        background-color: #efefef;
      }
    }
    
    &.bugs, &.performance-report, &.tickets-report {
      
      td {
        padding: .75em 0;
      }
      
      tbody th {
        text-align: left;
        width: 8em;
        padding-right: 1em;
        font-weight: normal;
        
        .label {
          
          // This is the stuff from bootstrap
          // It's here because not all the bootstrap
          // stuff gets rendered in the Weekly Report
          // email; but this does.
          
          // padding: 1px 4px 2px;
          font-size: 10.998px;
          font-weight: bold;
          line-height: 13px;
          color: white;
          vertical-align: middle;
          // white-space: nowrap;
          // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          // background-color: #999;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          
          /// bootstrap overrides
          padding: 3px 7px 4px;
          text-shadow: none;
          white-space: normal;
          
          max-width: 7em;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    
    &.tickets-report tbody th {
      padding-right: 4em;
    }
  }
  
  
  b.commit, b.testing-note-bubble {
    display: inline-block;
    width: 14px;
    height: 13px;
    margin: 1px;
    border-radius: 2px;
  }
  
  
  .column {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
  
  
  .bug {
    margin: -2px -4px;
    display: inline-block;
    width: 28px;
  }
  
  
  .pie-graph {
    padding: 0 !important;
  }
  
  
  .score {
    color: #333333; // for Gmail
    text-align: right;
    
    .no-bugs {
      color: #42A800;
      font-weight: 100;
      font-size: 1.5em;
      width: auto !important;
    }
    
    .testing-note-fails, .new-bugs {
      color: #B50000;
    }
    
    .testing-note-passes, .resolved-bugs, .ticket-count-closed  {
      color: #42A800;
    }
    
    .zero {
      color: #dddddd !important;
    }
  }
}

.severities-legend {
  vertical-align: middle;
  padding-left: 5em !important;
  
  h5 { text-align: left; padding-bottom: 0.5em; }
  ol { padding: 0; margin: 0; }
  li { list-style-type: none; }
}
